@import '../src/styles/main';

main {
	position: relative;
	@media (max-width: $desktop) {
		margin: 60px auto 60px auto;
	}
	margin: 120px auto 60px auto;
	// left: 50%;
	// transform: translateX(-50%);
	width: 1170px;
	max-width: 100%;

	.timetable {
		width: 100%;

		transition: 0.3s transform ease-in-out;
		html.dark_mode_transition & {transition: $dark-mode-transition, 0.3s transform ease-in-out !important;}

		& > div:first-child {
			margin-top: 40px;
		}

		.zoom_lessons, .zoom_courses, .holidays {
			position: relative;
			padding: 30px 10px 40px 10px;
			
			@media (max-width: $desktop) {
				width: calc(100% - 20px);
			}
			width: calc(100% - 200px);

			box-sizing: border-box;
			margin: 50px auto 0 auto;

			background: $block-color;
			box-shadow: $block-shadow;
			html.dark & {
				background: $block-color-dark;
				box-shadow: $block-shadow-dark;
			}

			border-radius: 30px;

			h3 {
				font-family: Manrope;
				font-style: normal;
				font-weight: 600;
				font-size: var(--font-size-very-big);
				line-height: var(--line-height-medium);
				text-align: center;

				margin-left: 20px;

				color: $text-color;
				html.dark & {
					color: $text-color-dark;
				}

				img {
					position: relative;
					top: 17.5px;
					left: -15px;
					height: 55px;
				}
			}

			.details {
				font-family: Manrope;
				font-style: normal;
				font-weight: 600;
				font-size: var(--font-size-usual);
				// line-height: px;
				text-align: center;

				color: $text-color;
				html.dark & {
					color: $text-color-dark;
				}
			}

			table {
				margin: 30px auto 0 auto;
				// table-layout: fixed;
				width: 100%;
				color: $text-color;

				border-spacing: 10px 3px;
				border-collapse: separate;
				table-layout: fixed;

				tr {
					th, td {
						font-family: Manrope;
						font-style: normal;
						font-size: var(--font-size-smaller-but-even-smaller-in-mobile);
					}

					th {
						text-align: center;
						padding: 0 5px 5px 5px;

						font-weight: 600;
						color: $orange-color;
						html.dark & {
							color: $orange-color-dark;
						}
					}
					
					td {
						&.center {
							font-size: var(--font-size-smaller);
						 	text-align: center;
						}
						text-align: center;
						font-weight: 400;
						color: $text-color;
						html.dark & {
							color: $text-color-dark;
						}
					}
				}
			}
		}

		.holidays {

			h3 {
				margin-bottom: 20px;
			}

			.holiday {

				font-family: Manrope;
				font-style: normal;
				font-weight: normal;
				font-size: var(--font-size-small);
				text-align: center;

				color: $text-color;
				html.dark & {
					color: $text-color-dark;
				}

				h6 {
					margin-top: 10px;

					font-family: Manrope;
					font-style: normal;
					font-weight: 600;
					font-size: 19px;
					line-height: 24px;
					text-align: center;

					color: $text-color;
					html.dark & {
						color: $text-color-dark;
					}
				}
			}
		}
	}
}
