@import '../src/styles/main';

main {
	position: relative;
	margin: 120px auto 60px auto;
	// left: 50%;
	// transform: translateX(-50%);
	width: 1170px;
	max-width: 100%;

	.timetable {
		width: 100%;

		transition: $dark_mode_transition, 0.3s transform ease-in-out;

		.float_wrapper {
			overflow: hidden;
			padding: 30px 0 40px 0;
			width: 100%;
		}

		.holidays, .bells, .cources .day {
			position: relative;
			padding: 30px 32px 40px 32px;

			width: calc(100% - 200px);

			box-sizing: border-box;
			margin: 0 auto;
			z-index: 10;

			background: $block-color;
			box-shadow: $block-shadow;
			html.dark & {
				background: $block-color-dark;
				box-shadow: $block-shadow-dark;
			}

			border-radius: 30px;

			h3 {
				font-family: Manrope;
				font-style: normal;
				font-weight: 600;
				font-size: 36px;
				line-height: 43px;
				text-align: center;

				color: $text-color;
				html.dark & {
					color: $text-color-dark;
				}
			}
		}

		.holidays {
			float: left;
			width: calc(35% - 84px);
			margin-left: 100px;

			h3 {
				margin-bottom: 20px;
			}

			.holiday {

				font-family: Manrope;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				text-align: center;

				color: $text-color;
				html.dark & {
					color: $text-color-dark;
				}

				h6 {
					margin-top: 10px;

					font-family: Manrope;
					font-style: normal;
					font-weight: 600;
					font-size: 19px;
					line-height: 24px;
					text-align: center;

					color: $text-color;
					html.dark & {
						color: $text-color-dark;
					}
				}
			}
		}

		.bells {
			float: right;
			width: calc(60% - 64px);
			margin-right: 100px;

			.details {
				font-family: Manrope;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				text-align: center;

				color: $text-color;
				html.dark & {
					color: $text-color-dark;
				}
			}

			ul {
				// width: 300px;
				// min-width: 200px;
				margin: 25px auto 0 auto;

				li {
					font-family: Manrope;
					font-style: normal;
					font-weight: normal;
					font-size: 18px;
					text-align: center;

					color: $text-color;
					html.dark & {
						color: $text-color-dark;
					}
				}
			}
		}

		.holidays, .bells {
			&.wide {
				width: calc(100% - 200px);
				margin-left: 100px;
			}

			&.hidden {
				display: none;
			}
		}

		@media (max-width: 1000px) {
			.holidays, .bells {
				float: none;
				width: calc(100% - 200px);
				margin: 0 auto;
			}

			.holidays:not(.wide) {
				margin-bottom: 50px;
			}
		}

		.cources {
			position: relative;
			width: calc(70% - 64px);
			margin: 30px 0 0 100px;
			padding-top: 75px;

			display: grid;
			grid-template-rows: auto auto auto;
			grid-template-columns: 1fr 1fr;
			grid-row-gap: 50px;
			grid-column-gap: 60px;

			h3 {
				position: absolute;
				top: 5px;
				left: 10px;
				font-family: Manrope;
				font-style: normal;
				font-weight: 600;
				font-size: 36px;

				color: #fff;
				text-shadow: $text-shadow;
				html.dark & {
					color: $text-color-dark;
					text-shadow: $text-shadow-dark;
				}

				span {
					margin-left: 10px;
					font-family: inherit;
					font-style: inherit;
					font-weight: inherit;
					font-size: 0.5em;
					color: inherit;
					text-shadow: inherit;
				}
			}

			.day {
				width: auto;
				margin: 0;
				padding-bottom: 25px;

				height: auto;

				h5 {
					font-family: Manrope;
					font-style: normal;
					font-weight: 600;
					font-size: 24px;
					line-height: 33px;
					text-align: center;

					color: $text-color;
					html.dark & {
						color: $text-color-dark;
					}

					margin-bottom: 20px;
				}

				ul li {
					font-family: Manrope;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 28px;

					color: $text-color;
					html.dark & {
						color: $text-color-dark;
					}

					margin-bottom: 10px;

					span {
						font-family: inherit;
						font-style: inherit;
						font-weight: inherit;
						font-size: inherit;
						color: $orange-color;
						html.dark & {
							color: $orange-color-dark;
						}
					}
				}
			}
		}

	}
}


table {
	table-layout: fixed;
	width: 100%;
	color: $text-color;
	
	td {
		color: $text-color;
		html.dark & {
		color: $text-color-dark;
		}
	}
	
	th {
		color: $orange-color;
		html.dark & {
			color: $orange-color-dark;
		}
	}
}

