@import '../src/styles/main';

$details-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
$details-expired-shadow: 1px 1px 11px -4px var(--orange-color);

$today-color: rgba(0, 255, 0, 0.2);
$today-color-dark: rgba(0, 255, 0, 0.2);

main {
	width: 1300px;

	.diary {
		position: relative;
		@media (max-width: $desktop) {
			padding: 30px 10px 40px 10px;
		}
		padding: 40px 32px 50px 32px;
		top: 30px;
		box-sizing: border-box;
		width: 100%;
		@media (min-width: $online-media-threshold) {
			max-width: calc(100vw - 100px);
		}
		margin: 0 auto;
		z-index: 10;
		text-align: center;

		background: var(--block-color);
		box-shadow: var(--block-shadow);
		html.dark & {
			box-shadow: $block-shadow-dark;
		}
		border-radius: var(--block-border-radius);

		transition: 0.3s transform ease-in-out;
		html.dark_mode_transition & {transition: $dark-mode-transition, 0.3s transform ease-in-out !important;}

		h3 {
			font-family: Manrope;
			font-style: normal;
			font-weight: 600;
			font-size: var(--font-size-selector);
			text-align: center;
			margin-bottom: 25px;

			color: var(--text-color-main);
		}

		& > p {
			font-family: Manrope;
			font-style: normal;
			font-weight: normal;
			@media (max-width: $desktop) {
				font-size: 9px;
			}
			font-size: 18px;
			text-align: center;
			padding-top: 15px;

			color: var(--text-color-main);
		}

		.period_start_label, .period_end_label {
			font-family: Manrope;
			font-style: normal;
			font-weight: normal;
			font-size: var(--font-size-big);
			color: var(--text-color-main);
		}

		.period_end_label {
			@media (max-width: $desktop) {
				margin-left: 3px;
			}
			margin-left: 30px;
		}

		.period_start, .period_end {
			font-family: Manrope;
			font-style: normal;
			font-weight: normal;
			@media (max-width: $desktop) {
				font-size: 8px;
				margin: 5px 0 10px 5px;
				padding: 2px 3px;
				border-width: 0.5px;
			}
			font-size: 18px;
			color: var(--text-color-main);

			margin: 5px 0 22px 5px;

			padding: 7px 10px;
			border: 2px solid var(--text-color-main);
			border-radius: 7px;

			transition: 0.2s border-color ease-in-out;
			html.dark_mode_transition & {transition: $dark-mode-transition, 0.2s border-color ease-in-out !important;}

			&:focus {
				border: 2px solid var(--orange-color);
			}
		}

		.table_layout {

			display: grid;
			grid-template-rows: 1fr;
			grid-template-columns: auto auto auto;

			.left_column, .right_column {
				position: relative;
				top: -7px;
				padding-top: 7px;

				li {
					padding: 6px 12px;
					height: 28px;

					font-family: Manrope;
					font-style: normal;
					font-weight: 500;
					
					@media (max-width: $desktop) {
						font-size: 9px;
						line-height: 10px;
						padding: 6px 6px;
						height: 12.9px
					}
					
					font-size: 20px;
					line-height: 28px;

					white-space: nowrap;

					color: var(--text-color-main);
					background: var(--block-color);

					&:nth-child(2) {
						@media (max-width: $desktop) {
							height: 55px;
						}
						
						height: 58px;
					}
				}

				.scroll_left, .scroll_right {
					position: relative;

					svg {
						position: absolute;
						top: 50%;
						@media (max-width: $desktop) {
							height: 110%;
							padding: 19px 10px 19px 30px;
						}
						height: 100%;
						box-sizing: border-box;
						padding: 19px 15px 19px 30px;

						cursor: pointer;
						transition: 0.1s transform ease-in-out, 0.1s padding ease-in-out, 0.1s opacity ease-in-out;
						html.dark_mode_transition & {transition: $dark-mode-transition, 0.1s transform ease-in-out, 0.1s padding ease-in-out, 0.1s opacity ease-in-out !important;}
						opacity: 1;

						path {
							fill: var(--text-color-main);
						}

						&:hover {
							padding-right: 20px;
						}
					}

					&.hidden svg {
						opacity: 0;
					}
				}

				.scroll_left svg {
					right: 0;
					transform: scale(0.9, 1) translateY(-50%);
				
					&:hover {
						transform: scale(0.9, 1) translateY(-50%);
					}
				}

				.scroll_right svg {
					left: 0;
					transform: scale(-0.9, 1) translateY(-50%);

					&:hover {
						transform: scale(-0.9, 1) translateY(-50%);
					}
				}
			}

			.left_column {
				position: relative;

				z-index: 10;
				transition: 0.1s box-shadow ease-in-out;
				html.dark_mode_transition & {transition: $dark-mode-transition, 0.1s box-shadow ease-in-out !important;}

				box-shadow: 14px 0px 1px -14px var(--text-color-main);
				&.shadow {
					box-shadow: 13px 0px 9px -14px var(--text-color-main);
				}

				html.dark &.shadow {
					box-shadow: 13px 0px 7px -14px var(--text-color-main);
				}

				li {
					padding-right: 20px;
					border-bottom-left-radius: 8px;
					border-top-left-radius: 8px;
				}
			}

			.right_column {
				position: relative;
				left: -1px;
				width: calc(100% + 1px);

				z-index: 10;
				transition: 0.1s box-shadow ease-in-out;
				html.dark_mode_transition & {transition: $dark-mode-transition, 0.1s box-shadow ease-in-out !important;}

				box-shadow: -14px 0px 1px -14px var(--text-color-main);
				&.shadow {
					box-shadow: -13px 0px 9px -14px var(--text-color-main);
				}

				html.dark &.shadow {
					box-shadow: -13px 0px 7px -14px var(--text-color-main);
				}

				li {
					cursor: pointer;
					padding-left: 15px;
					border-bottom-right-radius: 8px;
					border-top-right-radius: 8px;
				}
			}

			.scrollbox {
				position: relative;
				z-index: 5;
				overflow-x: scroll;
				overflow-y: hidden;

				.period_hidden_left, .period_hidden_right {
					position: absolute;
					top: 0;
					left: 0;
					width: 0px;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.25);
					html.dark & {
						background-color: rgba(0, 0, 0, 0.5);
					}
					pointer-events: none;
				}
				.period_hidden_left {
					box-shadow: inset -6px 0 2px -5px rgba(0, 0, 0, 0.25);
					html.dark & {
						box-shadow: none;
					}
				}

				.period_hidden_right {
					box-shadow: inset 6px 0 2px -5px rgba(0, 0, 0, 0.25);
					html.dark & {
						box-shadow: none;
					}
				}

				table {
					position: relative;

					// border-collapse: collapse;
					border-spacing: 0;

					tr {
						height: 30px;
						@media (max-width: $desktop) {
							height: 10px;
						}
						&:nth-child(1) {
							height: 40px;

							td {
								position: relative;
								padding: 4px 30px;
								text-align: center;

								overflow: hidden;

								span {
									padding: 0 8px;
									position: relative;
									font-family: Manrope;
									font-style: normal;
									font-weight: 500;
									font-size: 20px;
									line-height: 28px;
									color: var(--text-color-main);

									white-space: nowrap;

									background: var(--block-color);

									@media (max-width: $desktop) {
										font-size: 8px;
										line-height: 10px;
										padding: 4px 6px 8px 6px;
									}
								}
								
								&::before {
									content: "";
									position: absolute;
									width: calc(100% - 20px);
									left: 10px;
									height: 100px;
									top: 50%;
									border-top: 1px solid var(--text-color-main);
									border-left: 1px solid var(--text-color-main);
									border-right: 1px solid var(--text-color-main);
									border-radius: 20px;
								}
							}
						}

						&:nth-child(2) {
							height: 70px;
							@media (max-width: $desktop) {
								height: 50px;
							}

							td {
								padding: 4px 20px;

								font-family: Manrope;
								font-style: normal;
								font-weight: 500;
								font-size: 20px;
								line-height: 28px;
								text-align: center;
								color: var(--text-color-main);

								@media (max-width: $desktop) {
									font-size: 8px;
									line-height: 14px;
									padding: 6px 6px;
									height: 10px;
								}

								white-space: nowrap;

								&.today {
									border-top-left-radius: 15px;
									border-top-right-radius: 15px;

									background: $today-color;
									html.dark & {
										background: $today-color-dark;
									}
								}
							}
						}

						&:nth-child(n + 3) {
							td {
								position: relative;
								white-space: nowrap;
								text-align: center;
								box-sizing: border-box;

								height: 40px;
								padding: 0 6px;
								@media (max-width: $desktop) {
									height: auto;
									padding: 3px 6px;
								}

								span {
									@media (max-width: $desktop) {
										font-size: 9px;
										line-height: 9px;
										padding: 9px 6px 0px 6px;
										height: 10px;
									}
									display: inline-block;
									position: relative;
									top: 50%;
									transform: translateY(-50%);
									padding: 6px 10px;
									height: 100%;
									box-sizing: border-box;

									font-family: Manrope;
									font-style: normal;
									font-weight: 600;
									font-size: 20px;
									line-height: 28px;

									color: var(--text-color-main);

									white-space: nowrap;
									cursor: pointer;

									&:first-child {
										padding-left: 17px;
									}

									&:last-child {
										padding-right: 17px;
									}

									&.high {
										color: var(--green-color);
									}

									&.expired {
										color: var(--orange-color);
									}

									div {
										display: none;
									}
								}

								&.filled::before {
									content: "";
									position: absolute;
									box-sizing: border-box;
									width: calc(100% - 12px);
									height: 100%;
									top: 50%;
									left: 50%;
									transform: translate(-50%, -50%);
									border: 1px solid var(--text-color-main);
									border-radius: 3px;
								}

								&.selected::before {
									border-width: 2px;
									border-color: var(--orange-color);
								}

								&.expired::before {
									border-color: var(--orange-color);
								}

								&.today {
									background: $today-color;
									html.dark & {
										background: $today-color-dark;
									}
								}
							}
						}
					}
				}
			}

			.left_column li:nth-child(2n + 3),
			.right_column li:nth-child(2n + 3),
			table tr:nth-child(2n + 3) {
				background: #C9DDF0;
				html.dark & {
					background: #161B22;
				}
			}
		}
	}
}

.details, .details h5, .details p {
	font-family: Manrope;
	font-style: normal;
	font-weight: normal;
	font-size: var(--font-size-smaller);
	line-height: var(--line-height-compact);
	color: var(--text-color-main);
}

.details {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	padding: 15px 50px 15px 20px;
	&.graph {
		padding: 25px 20px 10px 20px;
	}
	@media (max-width: $desktop) {
		padding: 10px 10px 10px 10px;
		&.graph {
			padding: 15px 10px 5px 10px;
		}
	}
	border-radius: 20px;
	max-width: 100vw;
	max-height: 100vw;
	box-sizing: border-box;
	background: var(--block-color);
	box-shadow: $details-shadow;
	color: var(--text-color-main);

	html.dark & {
		box-shadow: $block-shadow-dark;
	}

	visibility: hidden;
	opacity: 0;
	transition: 0s box-shadow, 0.1s opacity ease-in-out, 0s visibility 0.2s;
	html.dark_mode_transition & {transition: $dark-mode-transition, 0s box-shadow, 0.1s opacity ease-in-out, 0s visibility 0.2s !important;}

	line-height: var(--line-height-compact);

	h5 {
		text-align: center;
		width: 100%;
		
		font-weight: 600;
	}

	p {
		width: 100%;
		text-align: center;

		a {
			
			@media (max-width: $desktop) {
				font-size: 12px;
			}
			color: var(--orange-color);
		}
	}

	&.shown {
		visibility: visible;
		opacity: 1;
		transition: 0s box-shadow, 0.1s opacity ease-in-out, 0s visibility 0s;
		html.dark_mode_transition & {transition: $dark-mode-transition, 0s box-shadow, 0.1s opacity ease-in-out, 0s visibility 0s !important;}
	}

	&.expired {
		box-shadow: $details-expired-shadow;

		h5 {
			color: var(--orange-color);
		}
	}

	.link-icon {
		@media (max-width: $desktop) {
			display: none;
		}
		position: absolute;
		top: 0;
		right: 0;
		padding: 18.5px 18px 10px 10px;
		width: 17px;
		border-top-right-radius: 20px;

		cursor: pointer;
		opacity: 0.6;
		transition: 0.08s opacity ease-in-out;
		html.dark_mode_transition & {transition: $dark-mode-transition, 0.08s opacity ease-in-out !important;}
		&:hover {
			opacity: 1;
		}

		path {
			fill: var(--text-color-main);
		}
	}
}
