@import '../src/styles/main';

$details-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
$details-expired-shadow: 2px 1px 15px rgba(255, 0, 0, 0.3);

$mark-expired-color: rgba(255, 0, 0, 0.1);
$mark-expired-color-dark: rgba(255, 0, 0, 0.25);

$today-color: rgba(0, 255, 0, 0.2);
$today-color-dark: rgba(0, 255, 0, 0.2);

main {
	position: relative;
	margin: 120px auto 100px auto;
	width: 1300px;
	max-width: 95%;

	.diary {
		position: relative;
		padding: 40px 32px 50px 32px;
		top: 30px;
		box-sizing: border-box;
		width: 100%;
		margin: 0 auto;
		z-index: 10;
		text-align: center;

		background: $block-color;
		box-shadow: $block-shadow;
		html.dark & {
			background: $block-color-dark;
			box-shadow: $block-shadow-dark;
		}
		border-radius: 30px;

		transition: $dark_mode_transition, 0.3s transform ease-in-out;

		h3 {
			font-family: Manrope;
			font-style: normal;
			font-weight: 600;
			font-size: 36px;
			text-align: center;
			margin-bottom: 25px;

			color: $text-color;
			html.dark & {
				color: $text-color-dark;
			}
		}

		& > p {
			font-family: Manrope;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			text-align: center;
			padding-top: 15px;

			color: $text-color;
			html.dark & {
				color: $text-color-dark;
			}
		}

		.period_start_label, .period_end_label {
			font-family: Manrope;
			font-style: normal;
			font-weight: normal;
			font-size: 21px;
			color: $text-color;
			html.dark & {
				color: $text-color-dark;
			}
		}

		.period_end_label {
			margin-left: 30px;
		}

		.period_start, .period_end {
			font-family: Manrope;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			color: $text-color;
			html.dark & {
				color: $text-color-dark;
			}

			margin: 5px 0 22px 5px;

			padding: 7px 10px;
			border: 2px solid $text-color;
			html.dark & {
				border-color: $text-color-dark;
			}
			border-radius: 7px;

			transition: $dark_mode_transition, 0.2s border-color ease-in-out;

			&:focus {
				border: 2px solid $orange-color;
				html.dark & {
					border-color: $orange-color-dark;
				}
			}
		}

		.table_layout {

			display: grid;
			grid-template-rows: 1fr;
			grid-template-columns: auto auto auto;

			.left_column, .right_column {
				position: relative;
				top: -7px;
				padding-top: 7px;

			    li {
			    	padding: 6px 12px;
					height: 28px;

					font-family: Manrope;
					font-style: normal;
					font-weight: 500;
					font-size: 20px;
					line-height: 28px;

					white-space: nowrap;

					color: $text-color;
					background: $block-color;
					html.dark & {
						color: $text-color-dark;
						background: $block-color-dark;
					}

					&:nth-child(2) {
						height: 58px;
					}
				}

				.scroll_left, .scroll_right {
					position: relative;

					svg {
						position: absolute;
						top: 50%;
						height: 100%;
						box-sizing: border-box;
						padding: 19px 15px 19px 30px;

						cursor: pointer;
						transition: $dark_mode_transition, 0.1s transform ease-in-out, 0.1s padding ease-in-out, 0.1s opacity ease-in-out;
						opacity: 1;

						path {
							fill: $text-color;
							html.dark & {
								fill: $text-color-dark;
							}
						}

						&:hover {
							padding-right: 20px;
						}
					}

					&.hidden svg {
						opacity: 0;
					}
				}

				.scroll_left {
					svg {
						right: 0;
						transform: scale(0.9, 1) translateY(-50%);
					
						&:hover {
							transform: scale(0.9, 1) translateY(-50%);
						}
					}
				}

				.scroll_right {
					// background: $block-color;
					// html.dark & {
					// 	background: $block-color-dark;
					// }

					svg {
						left: 0;
						transform: scale(-0.9, 1) translateY(-50%);

						&:hover {
							transform: scale(-0.9, 1) translateY(-50%);
						}
					}
				}
			}

			.left_column {
				position: relative;

				z-index: 10;
				transition: $dark_mode_transition, 0.1s box-shadow ease-in-out;

				li {
					padding-right: 20px;
					border-bottom-left-radius: 8px;
					border-top-left-radius: 8px;
				}

				box-shadow: 14px 0px 1px -14px $text-color;
				&.shadow {
					box-shadow: 13px 0px 9px -14px $text-color;
				}

				html.dark & {
					box-shadow: 14px 0px 1px -14px $text-color-dark;
					&.shadow {
						box-shadow: 13px 0px 7px -14px $text-color-dark;
					}
				}
			}
			.right_column {
				position: relative;
				left: -1px;
				width: calc(100% + 1px);

				z-index: 10;
				transition: $dark_mode_transition, 0.1s box-shadow ease-in-out;


				li {
					padding-left: 15px;
					border-bottom-right-radius: 8px;
					border-top-right-radius: 8px;
				}

				box-shadow: -14px 0px 1px -14px $text-color;
				&.shadow {
					box-shadow: -13px 0px 9px -14px $text-color;
				}

				html.dark & {
					box-shadow: -14px 0px 1px -14px $text-color-dark;
					&.shadow {
						box-shadow: -13px 0px 7px -14px $text-color-dark;
					}
				}
			}

			.scrollbox {
				position: relative;

				z-index: 5;

				overflow-x: scroll;
				overflow-y: hidden;

				.period_hidden_left, .period_hidden_right {
					position: absolute;
					top: 0;
					left: 0;
					width: 0px;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.25);
					html.dark & {
						background-color: rgba(0, 0, 0, 0.5);
					}
					pointer-events: none;
				}
				.period_hidden_left {
					box-shadow: inset -6px 0 2px -5px rgba(0, 0, 0, 0.25);
					html.dark & {
						box-shadow: none;
					}
				}

				.period_hidden_right {
					box-shadow: inset 6px 0 2px -5px rgba(0, 0, 0, 0.25);
					html.dark & {
						box-shadow: none;
					}
				}

				table {
					position: relative;

					// border-collapse: collapse;
					border-spacing: 0;

					tr {
						height: 30px;

						// th {
						// 	font-family: Manrope;
						// 	font-style: normal;
						// 	font-weight: 500;
						// 	font-size: 20px;
						// 	line-height: 28px;

						// 	color: $text-color;
						// 	html.dark & {
						// 		color: $text-color-dark;
						// 	}

						// 	white-space: nowrap;

						// 	padding: 0px 10px;
						// }

						&:nth-child(1) {
							height: 40px;

							td {
								position: relative;
								padding: 4px 30px;

								overflow: hidden;

								span {
									position: relative;
									font-family: Manrope;
									font-style: normal;
									font-weight: 500;
									font-size: 20px;
									line-height: 28px;

									white-space: nowrap;

									background: $block-color;
									color: $text-color;

									html.dark & {
										background: $block-color-dark;
										color: $text-color-dark;
									}

									padding: 0 8px;
								}
								
								&::before {
									content: "";
									position: absolute;
									width: calc(100% - 20px);
									left: 10px;
									height: 100px;
									top: 50%;
									border-top: 1px solid $text-color;
									border-left: 1px solid $text-color;
									border-right: 1px solid $text-color;
									html.dark & {
										border-color: $text-color-dark;
									}
									border-radius: 20px;
								}
							}
						}

						&:nth-child(2) {
							height: 70px;

							td {

								font-family: Manrope;
								font-style: normal;
								font-weight: 500;
								font-size: 20px;
								line-height: 28px;

								color: $text-color;
								html.dark & {
									color: $text-color-dark;
								}

								white-space: nowrap;

								padding: 4px 20px;

								&.today {
									border-top-left-radius: 10px;
									border-top-right-radius: 10px;
								}
							}
						}

						td {
							position: relative;
							white-space: nowrap;
							text-align: center;
							box-sizing: border-box;
							height: 40px;

							padding: 0 6px;

							& > div {
								font-size: 0;
								position: relative;
								// width: 62%;
								height: 100%;

								left: 50%;
								transform: translateX(-50%);
								text-align: center;

								span {
									display: inline-block;
									position: relative;
									top: 50%;
									transform: translateY(-50%);
									padding: 6px 10px;
									height: 100%;
									box-sizing: border-box;

									font-family: Manrope;
									font-style: normal;
									font-weight: 600;
									font-size: 20px;
									line-height: 28px;

									color: $text-color;
									html.dark & {
										color: $text-color-dark;
									}

									white-space: nowrap;
									cursor: pointer;

									&:first-child {
										padding-left: 17px;
									}

									&:last-child {
										padding-right: 17px;
									}

									&.high {
										color: $green-color;
									}

									&.expired {
										color: $orange-color;
									}

									html.dark & {
										&.high {
											color: $green-color-dark;
										}
										&.expired {
											color: $orange-color-dark;
										}
									}

									div {
										display: none;
									}
								}
							}

							&.filled > div::before {
								content: "";
								position: absolute;
								box-sizing: border-box;
								width: 100%;
								height: 100%;
								top: 0;
								left: 0;
								border: 1px solid $text-color;
								html.dark & {
									border-color: $text-color-dark;
								}
								border-radius: 3px;
							}

							&.selected > div::before {
								border-width: 2px;
								border-color: $orange-color;
								html.dark & {
									border-color: $orange-color-dark;
								}
							}

							&.today {
								background: $today-color;
								html.dark & {
									background: $today-color-dark;
								}
							}
						}
					}
				}
			}

			.left_column li:nth-child(2n + 3),
			.right_column li:nth-child(2n + 3),
			table tr:nth-child(2n + 3) {
				background: #C9DDF0;
				html.dark & {
					background: #161B22;
				}
			}
		}
	}
}

.details, .details h5, .details p {
	font-family: Manrope;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 25px;
	color: $text-color;
	html.dark & {
		color: $text-color-dark;
	}
}

.details {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	padding: 15px 50px 15px 20px;
	border-radius: 20px;
	max-width: 100vw;
	max-height: 100vw;
	box-sizing: border-box;
	background: $block-color;
	box-shadow: $details-shadow;
	color: $text-color;

	html.dark & {
		background: $block-color-dark;
		box-shadow: $block-shadow;
		color: $text-color-dark;
	}

	visibility: hidden;
	opacity: 0;
	transition: $dark_mode_transition, 0s box-shadow, 0.1s opacity ease-in-out, 0s visibility 0.2s;
	html.dark & {
		transition: $dark_mode_transition, 0s box-shadow, 0.1s opacity ease-in-out, 0s visibility 0.2s;
	}

	line-height: 23px;

	h5 {
		text-align: center;
		width: 100%;
		
		font-weight: 600;
	}

	// h6 {
	// 	text-align: center;
	// 	width: 100%;
	// 	font-size: 12px;
		
	// 	font-weight: 600;
	// }

	p {
		width: 100%;
		text-align: center;

		a {
			color: $orange-color;
			html.dark & {
				color: $orange-color-dark;
			}
		}
	}

	&.shown {
		visibility: visible;
		opacity: 1;
		transition: $dark_mode_transition, 0s box-shadow, 0.1s opacity ease-in-out, 0s visibility 0s;
		html.dark & {
			transition: $dark_mode_transition, 0s box-shadow, 0.1s opacity ease-in-out, 0s visibility 0s;
		}
	}

	&.expired {
		box-shadow: $details-expired-shadow;

		h5 {
			color: #f00;
			html.dark & {
				color: #f00;
			}
		}
	}

	.link-icon {
		position: absolute;
		top: 0;
		right: 0;
		padding: 18.5px 18px 10px 10px;
		width: 17px;
		border-top-right-radius: 20px;

		cursor: pointer;
		opacity: 0.6;
		transition: $dark_mode_transition, 0.08s opacity ease-in-out;
		&:hover {
			opacity: 1;
		}

		path {
			fill: $text-color;
			html.dark & {
				fill: $text-color-dark;
			}
		}
	}
}