@import '../src/styles/main';

main {
	width: $main-width;

	.message_alert {
		min-width: calc(630px - 5%);
		@media (max-width: 700px) {
			width: calc(100% - 70px);
			min-width: 0;
		}
	}

	.announcements {
		position: relative;
		// padding: 30px 32px 50px 32px;
		margin: 0 auto;
		width: calc(100% - 130px);
		@media (max-width: $main-width) {
			width: 100%;
		}
		// @media (max-width: $desktop) {
		// 	padding: 0 10px;
		// 	// width: calc(100% - 20px);
		// }
		// max-width: 100%;

		z-index: 10;
		transition: 0.3s transform ease-in-out;
		html.dark_mode_transition & {transition: $dark-mode-transition, 0.3s transform ease-in-out !important;}

		.announcement {
			position: relative;
			box-sizing: border-box;

			padding: 35px;
			min-width: calc(700px - 5%);
			@media (max-width: $main-width) {
				margin: 0 auto;
				width: calc(100% - 200px);
			}
			@media (max-width: $desktop) {
				padding: 15px 10px 15px 10px;
				left: 0;
				width: 100%;
				min-width: 0;
			}

			clear: both;
			overflow: hidden;

			.author {
				position: relative;
				float: left;

				width: 20%;

				.profile_photo {
					width: 140px;
					height: 140px;
					margin: 0 auto;
					background-color: var(--block-color);
					box-shadow: var(--block-shadow);
					border-radius: 50%;

					background-size: cover;
					background-position: center center;
				}

				.name {
					font-family: Manrope;
					font-style: normal;
					font-weight: 600;
					font-size: var(--font-size-usual);
					line-height: 32px;

					width: 100%;
					margin: 12px auto 0 auto;
					text-align: center;

					color: #fff;

					text-shadow: var(--text-shadow);
					html.dark & {
						color: var(--text-color-main-dark);
					}
				}

				@media (max-width: $main-width) {
					display: none;
				}
			}

			.content {
				position: relative;
				float: right;

				padding: 30px;
				width: 76%;
				@media (max-width: $main-width) {
					width: 100%;
				}
				@media (max-width: $desktop) {
					padding: 20px 5%;
				}

				box-sizing: border-box;

				background: var(--block-color);
				box-shadow: var(--block-shadow);
				border-radius: var(--block-border-radius);

				h4, .date, article {
					font-family: Manrope;
					font-style: normal;
					color: var(--text-color-main);
				}

				.date {
					float: right;
					top: 20px;
					right: 40px;
					font-weight: 500;
					font-size: var(--font-size-big);
					padding-left: 15px;
				}

				h4 {
					font-weight: 600;
					font-size: var(--font-size-big);
					margin-bottom: 15px;
				}

				article {
					font-weight: 500;
					font-size: var(--font-size-smaller);
					line-height: var(--line-height-article);
					// text-align: justify;

					a {
						color: var(--orange-color);

						&:hover {
							text-decoration: underline;
						}
					}

					.school_class {
						cursor: auto;
						color: var(--orange-color);
					}
				}
			}
		}
	}
}
