# Configs
sftp-config.json
src/config/*

# Doc
doc/*

# Keep .htaccess
!.htaccess

# built files; should be built with the gulp
build/

# ignore generated PHP and HTML files
*.php
*.html

# ... but keep non-generated
!*.max.php
!*.max.html
