# Configs
sftp-config.json
src/config/config.json

# Doc
doc/*

# Built files; should be built with the gulp
build/

# Ignore generated PHP and HTML files
*.php
*.html

# ... but keep non-generated code and libraries
!*.max.php
!*.max.dynamic.php
!*.max.html
!/src/lib/*


# Always keep .htaccess
!.htaccess


# Temporarily stop ignoring index file
!index.html
