# Configs
sftp-config.json
src/config/*

# Doc
doc/*

# Keep .htaccess
!.htaccess

# Built files; should be built with the gulp
build/

# Ignore generated php files
*.php

# ... but save non-generated
!*.max.php

# ... but save all the library
!/src/lib/*.php
