// COLORS:
$background: linear-gradient(90deg, #307FBD 0%, #1963A1 17.79%);

$block-color: #FFF;
$block-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.25);
$text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
$arrows-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);

$text: #1963A1;

// $orange: #FE8708;
// $orange-gradient: linear-gradient(92.76deg, #FCB263 0%, #FE8708 52.3%);

$page_color: #1963A1;
$buttons_color: #307FBD;

// FONTS:
@font-face {
    font-family: 'Manrope';
    src: url('/files/fonts/Manrope/Manrope-Thin.eot');
    src: local('Manrope Thin'), local('Manrope-Thin'),
        url('/files/fonts/Manrope/Manrope-Thin.eot?#iefix') format('embedded-opentype'),
        url('/files/fonts/Manrope/Manrope-Thin.woff2') format('woff2'),
        url('/files/fonts/Manrope/Manrope-Thin.woff') format('woff'),
        url('/files/fonts/Manrope/Manrope-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('/files/fonts/Manrope/Manrope-Regular.eot');
    src: local('Manrope Regular'), local('Manrope-Regular'),
        url('/files/fonts/Manrope/Manrope-Regular.eot?#iefix') format('embedded-opentype'),
        url('/files/fonts/Manrope/Manrope-Regular.woff2') format('woff2'),
        url('/files/fonts/Manrope/Manrope-Regular.woff') format('woff'),
        url('/files/fonts/Manrope/Manrope-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('/files/fonts/Manrope/Manrope-Semibold.eot');
    src: local('Manrope Semibold'), local('Manrope-Semibold'),
        url('/files/fonts/Manrope/Manrope-Semibold.eot?#iefix') format('embedded-opentype'),
        url('/files/fonts/Manrope/Manrope-Semibold.woff2') format('woff2'),
        url('/files/fonts/Manrope/Manrope-Semibold.woff') format('woff'),
        url('/files/fonts/Manrope/Manrope-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	// top: 0; 
	// left: 0; 
	text-decoration: none;
	list-style: none;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	z-index: 1;
	color: #000;
	outline: none;
	transform-origin: center center;
	font-family: Arial, Helvetica, sans-serif;

	// box-sizing: border-box; 
	// box-sizing: content-box; 

	// image-rendering: optimizeQuality; 
	backface-visibility: hidden;
	// transition-duration: 0s;  
}

html {
	min-height: 100vh;
	overflow: auto;
}

body {
	background: $background;
	overflow: hidden;
}

.statusbar {
	position: absolute;
	top: 0;
	// width: 520.25px;
	height: 65px;
	right: calc(50vw - 600px);

	@media (max-width: 1200px) {right: 0;}

	display: flex;
	align-items: center;

	.name, .last_update {
		color: #fff;

		font-family: Manrope;
		font-style: normal;
		font-weight: 100;
		font-size: 36px;
		height: 65px;
		line-height: 65px;

		margin: 0 17px;
	}

	.exit_icon {
		width: 50px;

		margin: 0 17px;

		.sign-out {
			cursor: pointer;

			path {
				color: $buttons_color;
			}
		}
	}
}

main {
	position: relative;
	left: 50%;
	margin-top: 133px;
	transform: translateX(-50%);
	width: 1170px;

	.tasks {
		margin: 0 auto;

		// width: 972px;  // TODO

		background-color: $block-color;
		box-shadow: $block-shadow;
		border-radius: 30px;

		&.wide {
			width: 972px;
		}

		h2 {
			padding-top: 19px;
			text-align: center;

			font-family: Manrope;
			font-style: normal;
			font-weight: 600;
			font-size: 36px;
			line-height: 179.2%;

			color: $text;
		}

		ul {
			width: 78%;
			padding: 16px 0 40px 0;
			margin: 0 auto;

			font-family: Manrope;
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 32px;

			li {
				color: $text;
				list-style: disc;
			}
		}
	}

	.announcements {
		// TODO
	}

	.timetable {
		position: relative;
		margin: 116px auto 100px auto;
		width: 970px;

		.week {
			position: absolute;
			width: 100%;

			// transition: 0.5s all ease-in-out, visibility 0.5s;
			// opacity: 0;
			// visibility: hidden;

			pointer-events: none;

			h3 {
				font-family: Manrope;
				font-style: normal;
				font-weight: bold;
				font-size: 36px;
				line-height: 65px;
				color: #FFF;
				text-shadow: $text-shadow;

				animation: week_header_hide 0.5s ease-in-out forwards;
				animation-duration: 0s;

				html.loaded & {
					animation-duration: 0.5s;
				}
			}

			&.shown {
				pointer-events: auto;
				
				h3 {
					animation: week_header_show 0.5s ease-in-out forwards;
					animation-duration: 0s;

					html.loaded & {
						animation-duration: 0.5s;
					}
				}
			}

			@keyframes week_header_hide {
				0% {
					opacity: 1;
					transform: translateY(0px);
				}
				45%, 100% {
					opacity: 0;
					transform: translateY(10px);
				}
			}

			@keyframes week_header_show {
				0%, 55% {
					opacity: 0;
					transform: translateY(-15px);
				}
				100% {
					opacity: 1;
					transform: translateY(0px);
				}
			}

			.days {
				margin-top: 8px;

				display: grid;
				grid-template-rows: 1fr 1fr;
				grid-template-columns: 1fr 1fr 1fr;
				grid-gap: 80px;

				transition: 0.5s all ease-in-out, visibility 0.5s;
				opacity: 0;
				visibility: hidden;

				.day {
					padding: 31px 40px;
					background-color: #FFF;
					box-shadow: $block-shadow;
					border-radius: 30px;

					h4 {
						text-align: center;
						font-family: Manrope;
						font-style: normal;
						font-weight: 600;
						font-size: 21px;
						line-height: 33px;
						color: $text;
					}

					ul {
						margin-top: 25px;

						li {
							font-family: Manrope;
							font-style: normal;
							font-weight: normal;
							font-size: 15px;
							line-height: 25px;
							color: $text;
						}
					}
				}
			}

			&.shown .days {
				transition: 0.5s all ease-in-out, visibility 0.5s;
				opacity: 1;
				visibility: visible;
			}
		}

		#timetable_previous, #timetable_next {
			position: absolute;
			top: calc(36px + 50%);
			transform: translateY(-50%);
			height: calc(100% - 72px);
			width: 39.9px;
			filter: drop-shadow($arrows-shadow);
			cursor: pointer;
			padding: 0 50px;

			transition: 0.5s all ease-in-out, 0.1s transform ease-in-out, 0s filter ease-in-out;

			&.hidden {
				opacity: 0;
			}
		}

		#timetable_previous {
			left: -133px;
			&:hover {
				padding-right: 55px;
				transform: translateX(-5px) translateY(-50%);
			}

		}

		#timetable_next {
			right: -133px;
			&:hover {
				padding-left: 55px;
				transform: translateX(5px) translateY(-50%);
			}
		}
	}
}