@import 'src/styles/main';

$expired-color: rgb(255, 80, 80);

$arrows-color-dark: #696979;

main {
	position: relative;
	margin: 120px auto 100px auto;
	// left: 50%;
	// transform: translateX(-50%);
	width: $main-width;
	max-width: 100%;
	
	.tasks {
		position: relative;
		margin: 45px auto 45px auto;
		z-index: 10;

		box-sizing: border-box;
		padding: 20px;
		width: calc(100% - 200px);

		background: $block-color;
		box-shadow: $block-shadow;
		html.dark & {
			background: $block-color-dark;
			box-shadow: $block-shadow-dark;
		}
		border-radius: 30px;

		transition: 0.3s transform ease-in-out;
		html.dark_mode_transition & {transition: $dark-mode-transition, 0.3s transform ease-in-out !important;}

		h2 {
			padding: 0 0 16px 0;
			text-align: center;

			font-family: Manrope;
			font-style: normal;
			font-weight: 600;
			font-size: 36px;
			line-height: 179.2%;

			color: $text-color;
			html.dark & {
				color: $text-color-dark;
			}
		}

		ul {
			width: 82%;
			margin: 0 auto 17px auto;

			li, li div, li span, li a, li span a {
				font-family: Manrope;
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				line-height: 32px;
			}

			li, li span, li a {
				color: $text-color;
				font-weight: 600;
				html.dark & {
					color: $text-color-dark;
				}
			}

			li {
				list-style: disc;
				padding-left: 7px;

				span a {
					font-weight: 400;
					position: relative;
					color: $text-color;
					html.dark & {
						color: $text-color-dark;
					}

					// &::before {
					// 	content: "";
					// 	position: absolute;
					// 	left: 0;
					// 	bottom: -1px;
					// 	width: 100%;
					// 	height: 1.7px;
					// 	background: $orange-color;
					// 	html.dark & {
					// 		background: $orange-color-dark;
					// 	}
						
					// 	opacity: 0;
					// 	transition: 0.07s opacity ease-in-out;
					// 	html.dark_mode_transition & {transition: $dark-mode-transition, 0.07s opacity ease-in-out !important;}
					// }

					&:hover::before {
						opacity: 1;
					}

					&:hover {
						text-decoration: underline;
					}
				}

				div {
					position: relative;
					top: -1.2px;
					display: inline-block;
					padding: 4.5px 11px 5.5px 11px;
					margin-left: 6px;
					border-radius: 12px;
					
					line-height: 14px;
					font-size: 14px;
					font-weight: 400;

					border: 1px solid $green-color;

					color: $green-color;
				}

				&.expired div {
					color: $orange-color;
					border-color: $orange-color;
				}
			}
		}
	}

	.announcements {
		// TODO
		z-index: 10;
	}

	.timetable {
		position: relative;
		z-index: 10;
		margin: 15px auto 0 auto;
		width: calc(100% - 200px);

		transition: 0.3s transform ease-in-out;
		html.dark_mode_transition & {transition: $dark-mode-transition, 0.3s transform ease-in-out !important;}

		& > div {
			position: absolute;
			width: 100%;

			pointer-events: none;
			&.shown {
				pointer-events: auto;
			}

			h3 {
				font-family: Manrope;
				font-style: normal;
				font-weight: bold;
				font-size: 36px;
				line-height: 65px;
				color: #FFF;
				text-shadow: $text-shadow;
				html.dark & {
					color: $text-color-dark;
					text-shadow: $text-shadow-dark;
				}

				animation: week_header_hide 0.5s ease-in-out forwards;
				animation-duration: 0s;

				html.interacted & {
					animation-duration: 0.5s;
				}
			}

			&.shown h3 {
				animation: week_header_show 0.5s ease-in-out forwards;
				animation-duration: 0s;

				html.interacted & {
					animation-duration: 0.5s;
				}
			}

			@keyframes week_header_hide {
				0% {
					opacity: 1;
					transform: translateY(0px);
				}
				50%, 100% {
					opacity: 0;
					transform: translateY(10px);
				}
			}

			@keyframes week_header_show {
				0%, 55% {
					opacity: 0;
					transform: translateY(-15px);
				}
				100% {
					opacity: 1;
					transform: translateY(0px);
				}
			}

			& > button {
				position: absolute;
				opacity: 0;
				top: 20px;
				right: 20px;

				padding: 7px;

				font-family: Manrope;
				font-style: normal;
				font-weight: 600;
				font-size: 18px;
				line-height: 27px;

				cursor: pointer;

				// text-decoration: underline;
				// text-decoration-style: dashed;

				// border-bottom: 1px dashed #fff;

				color: #fff;
				html.dark & {
					color: $text-color-dark;
				}

				transition: 0.15s opacity 0.2s ease-in-out;
				html.dark_mode_transition & {transition: $dark-mode-transition, 0.15s opacity 0.2s ease-in-out !important;}
			}

			&.shown > button {
				transition: 0.2s opacity 0s ease-in-out;
				html.dark_mode_transition & {transition: $dark-mode-transition, 0.2s opacity 0s ease-in-out !important;}
				opacity: 1;
			}

			// Week
			& > div {
				margin-top: 8px;

				display: grid;
				grid-template-rows: auto auto;
				grid-template-columns: 1fr 1fr 1fr;
				grid-row-gap: 70px;
				grid-column-gap: 60px;

				@media (max-width: $main-width) {
					grid-template-rows: auto auto auto;
					grid-template-columns: 1fr 1fr;
					grid-column-gap: 50px;
				}

				@media (max-width: 850px) {
					grid-template-rows: auto auto auto auto auto auto;
					grid-template-columns: 1fr;
					grid-row-gap: 40px;
				}

				transition: 0.5s opacity ease-in-out, visibility 0.5s;
				html.dark_mode_transition & {transition: $dark-mode-transition, 0.5s opacity ease-in-out, visibility 0.5s !important;}
				opacity: 0;
				visibility: hidden;

				// Day
				& > div {
					position: relative;
					padding: 30px 32px;
					min-height: 50px;
					background: $block-color;
					box-shadow: $block-shadow;
					html.dark & {
						background: $block-color-dark;
						box-shadow: $block-shadow-dark;
					}
					border-radius: 30px;

					h4 {
						text-align: center;
						font-family: Manrope;
						font-style: normal;
						font-weight: 600;
						font-size: 21px;
						line-height: 33px;
						color: $text-color;
						html.dark & {
							color: $text-color-dark;
						}
					}

					.day_info {
						position: relative;
						
						font-family: Manrope;
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 32px;

						height: 32px;

						width: 100%;
						text-align: center;

						color: $text-color;
						html.dark & {
							color: $text-color-dark;
						}

						.zoom-icon {
							position: relative;
							top: 11.7px;
							left: -9px;
							display: inline;
							width: 70px;

							margin-right: -15px;

							&::before, &::after {
								position: relative;
								top: -11.7px;
								left: 9px;
							}
							
							&, &::before, &::after {
								font-family: inherit;
								font-style: inherit;
								font-weight: inherit;
								font-size: inherit;
								line-height: inherit;
								color: inherit;
							}
						}
					}

					ul {
						margin-top: 20px;

						li {
							position: relative;
							cursor: pointer;

							a {
								font-family: Manrope;
								font-style: normal;
								font-weight: normal;
								font-size: 16px;
								line-height: 25px;
								color: $text-color;
								html.dark & {
									color: $text-color-dark;
								}
							}

							& > div {
								display: none;
							}

							&.vacation {
								a {
									color: $vacation-color;
									html.dark & {
										color: $vacation-color-dark;
									}
								}
							}

							&.cur_lesson {
								a {
									color: $orange-color;
									html.dark & {
										color: $orange-color-dark;
									}
									font-weight: 600;
								}
							}

							&.no_lesson {
								cursor: auto;
								height: 25px;

								&::before {
									content: "";
									position: absolute;
									top: 5px;
									left: 0;
									width: 100%;
									height: 15px;
									background: #C9DDF0;
									html.dark & {
										background: #5c6670;
									}
									border-radius: 2px;
								}
							}
						}
					}

					.pending {
						position: absolute;
						top: 0;
						left: 0;
						width: 100.01%;
						height: 100.01%;
						background: #aaa;
						border-radius: inherit;

						p {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							width: 75%;
							max-height: 100%;

							text-align: center;

							font-family: Manrope;
							font-style: normal;
							font-weight: normal;
							font-size: 20px;
							line-height: 30px;

							color: #fff;
							html.dark & {
								color: $text-color-dark;
							}
						}
					}

					&.today {
						h4, .day_info {
							color: $orange-color;
							html.dark & {
								color: $orange-color-dark;
							}
						}
					}
				}
			}

			&.shown > div {
				opacity: 1;
				visibility: visible;
			}
		}

		#timetable_previous, #timetable_next {
			position: absolute;
			top: calc(36px + 50%);
			height: calc(100% - 72px);
			width: 40px;
			filter: drop-shadow($arrows-shadow);
			html.dark & {
				filter: drop-shadow($arrows-shadow-dark);
			}
			cursor: pointer;
			padding: 0 45px;

			transition: 0.15s transform ease-in-out, 0.2s opacity ease-in-out;
			html.dark_mode_transition & {transition: $dark-mode-transition, 0.15s transform ease-in-out, 0.2s opacity ease-in-out !important;}

			&.hidden {
				opacity: 0;
				cursor: auto;
				pointer-events: none;
			}

			path {
				fill: #fff;
				html.dark & {
					fill: $arrows-color-dark;
				}
			}

			&:hover {
				padding-right: 52px;
			}
		}

		#timetable_previous {
			left: -130px;
			transform: translateY(-50%);
			
			&:hover {
				transform: translateX(-6px) translateY(-50%);
			}
		}

		#timetable_next {
			right: -130px;
			transform: scale(-1, 1) translateY(-50%);

			&:hover {
				transform: scale(-1, 1) translateX(-6px) translateY(-50%);
			}
		}
	}
}

.details, .details h5, .details p {
	font-family: Manrope;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 25px;
	color: $text-color;
	html.dark & {
		color: $text-color-dark;
	}
}

.details {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	padding: 15px 20px;
	border-radius: 20px;
	// white-space: nowrap;
	max-width: 100vw;
	max-height: 100vw;
	background: #fff;
	box-shadow: $block-shadow;
	color: $text-color;
	html.dark & {
		background: #353f4c;
		box-shadow: $block-shadow; // Not block-shado-dark
		color: $text-color-dark;
	}

	visibility: hidden;
	opacity: 0;
	transition: 0.1s opacity ease-in-out, 0s visibility 0.2s;
	html.dark_mode_transition & {transition: $dark-mode-transition, 0.1s opacity ease-in-out, 0s visibility 0.2s !important;}

	line-height: 23px;

	h5 {
		text-align: center;
		width: 100%;
		
		font-weight: 600;
	}

	p {
		width: 100%;
		text-align: center;

		a {
			color: $orange-color;
			html.dark & {
				color: $orange-color-dark;
			}
		}
	}

	&.shown {
		visibility: visible;
		opacity: 1;
		transition: 0.1s opacity ease-in-out, 0s visibility 0s;
		html.dark_mode_transition & {transition: $dark-mode-transition, 0.1s opacity ease-in-out, 0s visibility 0s !important;}
	}

	&.vacation {
		h5 {
			color: $vacation-color;
			html.dark & {
				color: $vacation-color-dark;
			}
		}
	}

	&.cur_lesson {
		h5 {
			color: $orange-color;
			html.dark & {
				color: $orange-color-dark;
			}
		}
	}
}