@import 'src/styles/main';

$expired-color: rgb(255, 80, 80);

$arrows-color-dark: #5c6670;

main {
	width: $main-width;
	
	.tasks {
		position: relative;
		margin: 45px auto 45px auto;
		@media (max-width: $desktop) {
			margin: 30px auto 35px auto;
		}
		z-index: 10;

		box-sizing: border-box;
		padding: 20px;
		border-radius: var(--timetable-border-radius);

		width: calc(100% - 200px);
		@media (max-width: $desktop) {
			width: calc(100% - 20px);
		}

		background: var(--block-color);
		box-shadow: var(--block-shadow);

		html.dark & {
			box-shadow: $block-shadow-dark;
		}

		transition: 0.3s transform ease-in-out;
		html.dark_mode_transition & {transition: $dark-mode-transition, 0.3s transform ease-in-out !important;}

		h2 {
			padding: 0 0 16px 0;
			text-align: center;

			font-family: Manrope;
			font-style: normal;
			font-weight: 600;
			font-size: var(--font-size-very-big);

			color: var(--text-color-main);
		}

		ul {
			width: 82%;
			margin: 0 auto 17px auto;

			li, li div, li span, li a, li span a {
				font-family: Manrope;
				font-style: normal;
				font-weight: 600;
				font-size: var(--font-size-smaller);
				line-height: var(--line-height-article);
			}

			li, li span, li a {
				color: var(--text-color-main);
				font-weight: 600;
			}

			li {
				list-style: disc;
				padding-left: 7px;

				span {
					a {
						font-weight: 400;
						position: relative;
						color: var(--text-color-main);
					}

					&:hover a, &:active a {
						text-decoration: underline;
					}

					// &::before {
					// 	content: "";
					// 	position: absolute;
					// 	left: 0;
					// 	bottom: -1px;
					// 	width: 100%;
					// 	height: 1.7px;
					// 	background: var(--orange-color);
						
					// 	opacity: 0;
					// 	transition: 0.07s opacity ease-in-out;
					// 	html.dark_mode_transition & {transition: $dark-mode-transition, 0.07s opacity ease-in-out !important;}
					// }

					&:hover::before, &:active::before {
						opacity: 1;
					}
				}

				div {
					position: relative;
					display: inline-block;
					top: -1.2px;
					padding: 4.5px 10px 5.5px 10px;
					margin-left: 6px;
					border-radius: 12px;

					@media (max-width: $desktop) {
						top: -0.6px;
						padding: 2px 6px 2px 6px;
						margin-left: 6px;
						border-radius: 1000px;
					}

					font-size: var(--font-size-small);
					line-height: var(--font-size-small);
					font-weight: 400;

					border: 1px solid var(--green-color);

					color: var(--green-color);
				}

				&.expired div {
					color: var(--orange-color);
					border-color: var(--orange-color);
				}
			}
		}
	}

	.timetable {
		position: relative;
		z-index: 10;
		@media (max-width: $desktop) {
			width: calc(100% - 20px);
		}
		margin: 15px auto 0 auto;
		width: calc(100% - 200px);
		transition: 0.3s transform ease-in-out;
		html.dark_mode_transition & {transition: $dark-mode-transition, 0.3s transform ease-in-out !important;}

		#timetable_previous, #timetable_next {
			position: absolute;
			top: calc(36px + 50%);
			height: calc(100% - 72px);
			width: 40px;
			filter: drop-shadow(var(--arrows-shadow));
			html.dark & {
				filter: drop-shadow($arrows-shadow-dark);
			}
			cursor: pointer;
			padding: 0 45px;

			transition: 0.15s transform ease-in-out, 0.2s opacity ease-in-out;
			html.dark_mode_transition & {transition: $dark-mode-transition, 0.15s transform ease-in-out, 0.2s opacity ease-in-out !important;}

			&.hidden {
				opacity: 0;
				cursor: auto;
				pointer-events: none;
			}

			path {
				fill: #fff;
				html.dark & {
					fill: $arrows-color-dark;
				}
			}

			&:hover {
				padding-right: 52px;
			}

			@media (max-width: $desktop) {
				display: none;
			}
		}

		#timetable_previous {
			@media (max-width: $desktop) {
				z-index: 1;
				left: -60px;
			}
			left: -130px;
			transform: translateY(-50%);
			
			&:hover {
				transform: translateX(-6px) translateY(-50%);
			}
		}

		#timetable_next {
			@media (max-width: $desktop) {
				right: -50px;
			}
			right: -130px;
			transform: scale(-1, 1) translateY(-50%);

			&:hover {
				transform: scale(-1, 1) translateX(-6px) translateY(-50%);
			}
		}

		& > div {
			position: absolute;
			width: 100%;

			pointer-events: none;
			&.shown {
				pointer-events: auto;
			}

			h3 {
				font-family: Manrope;
				font-style: normal;
				font-weight: bold;
				font-size: var(--font-size-selector);
				// line-height: var(--line-height-large);
				color: #FFF;
				text-shadow: var(--text-shadow);
				html.dark & {
					color: var(--text-color-main-dark);
					text-shadow: $text-shadow-dark;
				}

				animation: week_header_hide 0.5s ease-in-out forwards;
				animation-duration: 0s;

				html.interacted & {
					animation-duration: 0.5s;
				}
			}

			&.shown h3 {
				animation: week_header_show 0.5s ease-in-out forwards;
				animation-duration: 0s;

				html.interacted & {
					animation-duration: 0.5s;
				}
			}

			@keyframes week_header_hide {
				0% {
					opacity: 1;
					transform: translateY(0px);
				}
				50%, 100% {
					opacity: 0;
					transform: translateY(10px);
				}
			}

			@keyframes week_header_show {
				0%, 55% {
					opacity: 0;
					transform: translateY(-15px);
				}
				100% {
					opacity: 1;
					transform: translateY(0px);
				}
			}

			& > button {
				position: absolute;
				@media (max-width: 380px) {
					position: static;
					top: 0;
				}
				@media (max-width: $desktop) {
					top: 1px;
				}
				opacity: 0;
				top: 10px;
				right: 20px;

				padding: 7px;

				font-family: Manrope;
				font-style: normal;
				font-weight: 600;
				font-size: var(--font-size-middle);
				line-height: 27px;
				cursor: pointer;

				color: #fff;
				html.dark & {
					color: var(--text-color-main-dark);
				}

				transition: 0.2s opacity 0.1s ease-in-out;
				html.dark_mode_transition & {transition: $dark-mode-transition, 0.2s opacity 0s ease-in-out !important;}
			}

			&.shown > button {
				transition: 0.3s opacity 0.1s ease-in-out;
				html.dark_mode_transition & {transition: $dark-mode-transition, 0.3s opacity 0.1s ease-in-out !important;}
				opacity: 1;
			}

			// Week
			& > div {
				margin-top: 8px;

				display: grid;
				grid-template-rows: auto auto;
				grid-template-columns: 1fr 1fr 1fr;
				grid-row-gap: 70px;
				grid-column-gap: 60px;

				@media (max-width: $main-width) {
					grid-template-rows: auto auto auto;
					grid-template-columns: 1fr 1fr;
					grid-column-gap: 50px;
				}

				@media (max-width: $desktop) {
					grid-row-gap: 10px;
					grid-column-gap: 10px;
				}

				transition: 0.5s opacity ease-in-out, visibility 0.5s;
				html.dark_mode_transition & {transition: $dark-mode-transition, 0.5s opacity ease-in-out, visibility 0.5s !important;}
				opacity: 0;
				visibility: hidden;

				// Day
				& > div {
					position: relative;
					padding: var(--timetable-day-padding-x) var(--timetable-day-padding-y);
					background: var(--block-color);
					box-shadow: var(--block-shadow);
					html.dark & {
						box-shadow: $block-shadow-dark;
					}
					border-radius: var(--timetable-border-radius);

					h4 {
						text-align: center;
						font-family: Manrope;
						font-style: normal;
						font-weight: 600;
						font-size: var(--font-size-middle);
						color: var(--text-color-main);
					}

					.day_info {
						position: relative;
						
						font-family: Manrope;
						font-style: normal;
						font-weight: normal;
						// TODO: font and line-height. height → 10px on mobile? 
						font-size: var(--font-size-smaller);

						width: 100%;
						text-align: center;

						color: var(--text-color-main);

						&.zoom_day {
							// top: -11.5px;
							margin-bottom: 11.5px;
							margin-top: -11.5px;
							@media (max-width: $desktop) {
								margin-bottom: 10px;
								margin-top: -10px;
							}

							& + ul {

							}
						}

						.zoom-icon {
							position: relative;
							display: inline;
							top: 11.7px;
							left: -9px;
							width: 70px;
							margin-right: -15px;

							@media (max-width: $desktop) {
								top: 9px;
								left: -6px;
								width: 52px;
							}

							&::before, &::after {
								position: relative;
								top: -11.7px;
								left: 9px;
							}
							
							&, &::before, &::after {
								font-family: inherit;
								font-style: inherit;
								font-weight: inherit;
								font-size: inherit;
								line-height: inherit;
								color: inherit;
							}
						}
					}

					ul {
						margin-top: 20px;
						@media (max-width: $desktop) {
							margin-top: 10px;
						}

						li {
							position: relative;
							cursor: pointer;

							a {
								font-family: Manrope;
								font-style: normal;
								font-weight: normal;
								font-size: var(--font-size-smaller);
								color: var(--text-color-main);
							}

							& > div {
								display: none;
							}

							&.vacation {
								a {
									color: var(--green-color);
								}
							}

							&.cur_lesson {
								a {
									color: var(--orange-color);
									font-weight: 600;
								}
							}

							&.no_lesson {
								cursor: auto;
								height: 25px;
								@media (max-width: $desktop) {
									height: 15px;
								}

								&::before {
									content: "";
									position: absolute;
									@media (max-width: $desktop) {
										top: 4px;
										height: 9px;
									}
									top: 5px;
									left: 0;
									width: 100%;
									height: 15px;
									background: #C9DDF0;
									html.dark & {
										background: #5c6670;
									}
									border-radius: 2px;
								}
							}
						}
					}

					.pending {
						position: absolute;
						top: 0;
						left: 0;
						width: 100.01%;
						height: 100.01%;
						
						background: var(--page-color-dark);//#aaa;
						html.dark & {
							background: var(--text-color);
						}
						border-radius: inherit;

						p {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							width: 75%;
							max-height: 100%;

							text-align: center;

							font-family: Manrope;
							font-style: normal;
							font-weight: normal;
							font-size: var(--font-size-usual);
							line-height: 30px; 
							@media (max-width: $desktop) {
								line-height: inherit;
							}

							color: #fff;
							html.dark & {
								color: var(--text-color-main-dark);
							}
						}
					}

					&.today {
						h4, .day_info {
							color: var(--orange-color);
						}
					}
				}
			}

			&.shown > div {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.details, .details h5, .details p {
	font-family: Manrope;
	font-style: normal;
	font-weight: normal;
	font-size: var(--font-size-smaller);
	color: var(--text-color-main);
}

.details {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	padding: 15px 20px;
	@media (max-width: $desktop) {
		padding: 10px 15px;
	}
	border-radius: var(--timetable-border-radius-small);
	// white-space: nowrap;
	max-width: 100vw;
	max-height: 100vw;
	
	background: #fff;
	box-shadow: var(--block-shadow);
	color: var(--text-color-main);
	html.dark & {
		background: #353f4c;
		box-shadow: var(--block-shadow); // Not block-shadow-dark
	}

	visibility: hidden;
	opacity: 0;
	transition: 0.1s opacity ease-in-out, 0s visibility 0.2s;
	html.dark_mode_transition & {transition: $dark-mode-transition, 0.1s opacity ease-in-out, 0s visibility 0.2s !important;}

	// line-height: var(--line-height-compact);

	h5 {
		text-align: center;
		width: 100%;
		font-weight: 600;
	}

	p {
		width: 100%;
		text-align: center;

		a {
			color: var(--orange-color);
		}
	}

	&.shown {
		visibility: visible;
		opacity: 1;
		transition: 0.1s opacity ease-in-out, 0s visibility 0s;
		html.dark_mode_transition & {transition: $dark-mode-transition, 0.1s opacity ease-in-out, 0s visibility 0s !important;}
	}

	&.vacation {
		h5 {
			color: var(--green-color);
		}
	}

	&.cur_lesson {
		h5 {
			color: var(--orange-color);
		}
	}
}
