@import '../src/styles/main';

$container-background: #fff;
$container-shadow: 10px 10px 20px #205182;


.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
	max-width: calc(100% - 50px);

	box-sizing: border-box;
	padding: 85px 0;

	@media (max-width: 700px) {
		padding: 30px 0;
	}

	background: $container-background;
	border-radius: 30px;
	box-shadow: $container-shadow;

	overflow: hidden;

	.title {
		position: relative;
		text-align: center;
		width: 100%;

		font-family: Manrope;
		font-style: normal;
		font-weight: 600;
		font-size: 50px;
		letter-spacing: -0.005em;
		line-height: 60px;

		@media (max-width: 700px) {
			font-size: 30px;
		}

		color: $text-color;
	}

	#login_form {
		position: relative;
		text-align: center;

		input {
			position: relative;
			width: 377px;
			max-width: calc(100% - 85px);
			height: 35px;

			margin-top: 35px;
			padding: 12px 24px;

			border: 1px solid $text-color;
			border-radius: 30px;

			font-family: Manrope;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			letter-spacing: -0.005em;

			color: $text-color;

			@media (max-width: 700px) {
				margin-top: 20px;
				width: 200px;
				height: 15px;
				font-size: 15px;
			}

			&.invalid {
				color: $orange-color;
				border: 1px solid $orange-color;
			}
		}

		input[type="submit"] {
			text-align: center;
			padding: 9px 0;
			width: 290px;
			max-width: calc(100% - 30px);
			height: 45px;

			font-family: Manrope;
			font-style: normal;
			font-weight: 600;
			font-size: 20px;
			line-height: 27px;
			text-align: center;
			letter-spacing: -0.005em;

			border: none;
			background: $orange-gradient;
			box-shadow: 5px 5px 10px rgba(228, 120, 5, 0.5);
			border-radius: 30px;
			color: #FFF;

			@media (max-width: 700px) {
				font-size: 15px;
				line-height: 20px;
				width: 180px;
				max-width: calc(100% - 30px);
				padding: 5px 0;
				height: 35px;
			}

			cursor: pointer;

			transition: 0.2s box-shadow ease-out;

			&:hover {
				box-shadow: 5px 5px 10px rgba(228, 120, 5, 0.35);
			}
		}
	}

	.message {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		visibility: hidden;
		opacity: 0;
		background-color: rgba(0, 0, 0, 0.85);

		font-family: Manrope;
		font-style: normal;
		font-weight: 500;
		font-size: 25px;
		line-height: 87px;
		text-align: center;
		letter-spacing: -0.005em;

		transition: 0.5s opacity ease-in-out;

		@media (max-width: 700px) {
			background-color: rgba(0, 0, 0, 0.90);
		}

		&.shown {
			visibility: visible;
			opacity: 1;

			p span:nth-child(1), p span:nth-child(2), p span:nth-child(3) {
				animation-play-state: running;
			}
		}

		&.small {
			font-size: 14px;
			line-height: 55px;

			p {
				@media (max-width: 700px) {
					font-size: 15px;
					line-height: 25px;
				}
			}
		}

		p {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 80%;
			transform: translate(-50%, -50%);
			color: #FFF;
			font-size: 2em;

			text-align: center;

			@media (max-width: 700px) {
				width: 95%;
				font-size: 30px;
			}

			span {
				color: #FFF;
				opacity: 0;

				&:nth-child(1) {
					animation: loading_dots1 2s ease-in-out 0s infinite;
					animation-play-state: paused;
				}
				&:nth-child(2) {
					animation: loading_dots2 2s ease-in-out 0s infinite;
					animation-play-state: paused;
				}
				&:nth-child(3) {
					animation: loading_dots3 2s ease-in-out 0s infinite;
					animation-play-state: paused;
				}

				@keyframes loading_dots1 {
					0%, 20% {
						opacity: 0;
					}
					35%, 85% {
						opacity: 1;
					}
				}
				@keyframes loading_dots2 {
					0%, 40% {
						opacity: 0;
					}
					55%, 85% {
						opacity: 1;
					}
				}
				@keyframes loading_dots3 {
					0%, 60% {
						opacity: 0;
					}
					75%, 85% {
						opacity: 1;
					}
				}
			}
		}
	}
}
