@import '../src/styles/main';

main {
	position: relative;
	margin: 120px auto 100px auto;
	width: $main-width;
	max-width: 95%;

	.help {
		position: relative;
		margin: 35px auto;
		padding: 5%;
		width: calc(100% - 200px);

		z-index: 10;
		transition: $dark_mode_transition;
		color: $text-color;
		html.dark & {
			color: $text-color-dark;
		}

		box-sizing: border-box;
		border-radius: 30px;
		text-align: justify;

		background: $block-color;
		box-shadow: $block-shadow;
		html.dark & {
			background: $block-color-dark;
			box-shadow: $block-shadow-dark;
		}

		h1 {
			text-align: center;					
		}

		h4, h4 * {
			font-family: Manrope;
			font-style: normal;
			font-weight: 600;
			font-size: 24px;
		}

		h4 {
			margin: 30px 0 12px 10px;
		}
	
		.question {
			color: $orange-color;
			font-weight: 600;
			html.dark & {
				color: $orange-color-dark;
			}
			
		}

		.del {
			text-decoration: line-through; 
			display: inline-block;
		}
	}
}

