* {
	margin: 0;
	padding: 0;
}

html {
	position: absolute;
	right: 0;
	font-family: 'Raleway', sans-serif;
	opacity: 1;
	height: 100%;
	width: 100%;
	text-align: center;
}

body {
	top: 50%;
	position: absolute;
	width: 100%;
	transform: translateY(-50%);
}

h1, h2, h3 {
	font-weight: bold;
	padding: 2vw;
}

h1 {
	font-size: 10vw;
}

h2 {
	font-size: 5vw;
}

h3 {
	font-size: 4vw;
}

p {
	font-size: 1.5vw;
	padding: 3vw;
}

@media (max-width: 750px) {
	h1 {
		font-size: 12vw;
	}

	h2 {
		font-size: 6vw;
	}

	h3 {
		font-size: 5vw;
	}

	p {
		font-size: 3vw;
	}
}
