@import '../src/styles/main';

main {
	position: relative;
	margin: 120px auto 100px auto;
	// left: 50%;
	// transform: translateX(-50%);
	width: $main-width;
	max-width: 95%;


	.marks {
		position: relative;
		padding: 40px 32px 50px 32px;
		top: 30px;
		box-sizing: border-box;
		width: 100%;
		margin: 0 auto;
		z-index: 10;

		background: $block-color;

		box-shadow: $block-shadow;
		border-radius: 30px;

		transition: 0.3s transform ease-in-out;

		h3 {
			font-family: Manrope;
			font-style: normal;
			font-weight: 600;
			font-size: 36px;
			text-align: center;
			margin-bottom: 25px;

			color: $text-color;
		}

		& > p {
			font-family: Manrope;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			text-align: center;
			padding-top: 15px;

			color: $text-color;
		}

		& > div {

			display: grid;
			grid-template-rows: 1fr;
			grid-template-columns: auto auto auto;

			& > ul li {
				font-family: Manrope;
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 28px;

				color: $text-color;

				white-space: nowrap;

				padding: 6px 12px;
				height: 28px;

				&:nth-child(2) {
					height: 58px;
				}
			}

			& > ul:first-child {
				position: relative;

				li {
					padding-right: 20px;
					border-bottom-left-radius: 8px;
					border-top-left-radius: 8px;
				}

				&.shadow {
					// TODO
				}
			}
			& > ul:last-child {
				position: relative;
				left: -1px;
				width: calc(100% + 1px);

				li {
					padding-left: 15px;
					border-bottom-right-radius: 8px;
					border-top-right-radius: 8px;
				}

				&.shadow {
					// TODO
				}
			}

			table {
				position: relative;
				display: block;
				overflow-x: scroll;
				overflow-y: hidden;

				// border-collapse: collapse;
				border-spacing: 0;

				tr {
					height: 30px;

					th {
						font-family: Manrope;
						font-style: normal;
						font-weight: 500;
						font-size: 20px;
						line-height: 28px;

						color: $text-color;

						white-space: nowrap;

						padding: 0px 10px;
					}

					&:nth-child(1) {
						height: 40px;

						td {
							position: relative;
							padding: 4px 30px;

							overflow: hidden;

							span {
								position: relative;
								font-family: Manrope;
								font-style: normal;
								font-weight: 500;
								font-size: 20px;
								line-height: 28px;

								white-space: nowrap;

								background: $block-color;
								color: $text-color;

								padding: 0 8px;
							}
							
							&::before {
								content: "";
								position: absolute;
								width: calc(100% - 20px);
								left: 10px;
								height: 100px;
								top: 50%;
								border-top: 1px solid $text-color;
								border-left: 1px solid $text-color;
								border-right: 1px solid $text-color;
								border-radius: 20px;
							}
						}
					}

					&:nth-child(2) {
						height: 70px;

						td {

							font-family: Manrope;
							font-style: normal;
							font-weight: 500;
							font-size: 20px;
							line-height: 28px;

							color: $text-color;

							white-space: nowrap;

							padding: 4px 20px;
						}
					}

					td {
						position: relative;
						white-space: nowrap;
						text-align: center;
						box-sizing: border-box;
						height: 40px;

						padding: 0 6px;

						span.high {
							color: $orange-color;
						}

						div {
							font-size: 0;
							position: relative;
							// width: 62%;
							height: 100%;

							padding: 0 0px;

							left: 50%;
							transform: translateX(-50%);
							text-align: center;

							span {
								display: inline-block;
								position: relative;
								top: 50%;
								transform: translateY(-50%);
								padding: 7px 10px;

								font-family: Manrope;
								font-style: normal;
								font-weight: 500;
								font-size: 20px;
								line-height: 28px;

								color: $text-color;

								white-space: nowrap;
								cursor: default;

								&:first-child {
									padding-left: 17px;
								}

								&:last-child {
									padding-right: 17px;
								}
							}
						}

						&.filled div::before {
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							width: calc(100% - 1px);
							height: calc(100% - 1px);
							border: 1px solid $text-color;
							border-radius: 2px;
						}
					}
				}
			}

			ul li:nth-child(2n + 3), table tr:nth-child(2n + 3) {
				background: #C9DDF0;
			}
		}

		.details, .details h5 {
			font-family: Manrope;
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			line-height: 25px;
			color: $text-color;
		}

		.details {
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			padding: 15px 20px;
			border-radius: 20px;
			white-space: nowrap;
			background-color: #fff;
			box-shadow: $block-shadow;
			color: $text-color;

			visibility: hidden;
			opacity: 0;
			transition: 0.1s opacity ease-in-out, 0s visibility 0.2s;

			line-height: 23px;

			h5 {
				text-align: center;
				width: 100%;
				
				font-weight: 600;
			}

			&.shown {
				visibility: visible;
				opacity: 1;
				transition: 0.1s opacity ease-in-out, 0s visibility 0s;
			}
		}
	}
}