// @media (max-width: 1170px)
// @media (max-width: 850px)

$desktop: 700px;


//really desktop;
:root {
	--font-size-small: 14px;
	--font-size-smaller-but-even-smaller-in-mobile: 16px;
	--font-size-smaller: 16px;
	--font-size-usual: 18px;
	--font-size-big: 24px;
	--font-size-name: 36px;
	--font-size-very-big: 36px;
	--font-size-selector: 36px; //big, doesn't need large resize
	--font-bells: 18px;
	--line-height-compact: 25px;
	--line-height-article: 32px;
	--line-height-medium: 43px;
	--line-height-large: 65px;
	--padding-x-timetable-main: 30px;
	--padding-y-timetable-main: 32px;
}


@media (max-width: $desktop) {
	//mobile;
	:root {
		--font-size-small: 8px;
		--font-size-smaller-but-even-smaller-in-mobile: 8px;
		--font-size-smaller: 10px;
		--font-size-usual: 10px;
		--font-size-big: 14px;
		--font-bells: 18px;
		--font-size-very-big: 18px;
		--font-size-selector: 25px;
		--font-size-name: 16px;
		--line-height-compact: 14px;
		--line-height-article: 16px;
		--line-height-medium: 25px;
		--line-height-large: 36px;
		--padding-x-timetable-main: 10px;
		--padding-y-timetable-main: 20px;
	}
}

$dark-mode-transition: 0.5s color ease-in-out,
                       0.5s background-color ease-in-out,
                       0.5s border-color ease-in-out,
                       0.5s box-shadow ease-in-out,
                       0.5s text-shadow ease-in-out,
                       0.5s fill ease-in-out;

$main-width: 1170px;

// COLORS:
// $background: linear-gradient(90deg, #307FBD 0%, #1963A1 14.16%);

$block-color: #FFF;
$block-color-dark: #28313d;

$block-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.25);
$block-shadow-dark: none;

$text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
$text-shadow-dark: none;

$arrows-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
$arrows-shadow-dark: none;

$page-color: #1963A1;
$page-color-dark: #06090F;

$orange-color: #FF890C;
$orange-color-dark: #FF890C;

$green-color: #20822a;
$green-color-dark: #20822a;

$light-orange-color: #ffa94d;

$orange-gradient: linear-gradient(92.76deg, #FCB263 0%, #FE8708 52.3%);

$text-color: $page-color;
$text-color-dark: #C9D1D9;

$buttons-color: #307FBD;
$buttons-color-dark: #307FBD;

$buttons-active-color: #205182;
$buttons-active-color-dark: #205182;

$vacation-color: #20822A;
$vacation-color-dark: #00c814;

// BRAND COLORS:
$vk-blue-color: #2787F5;


// FONTS:
@font-face {
    font-family: 'Manrope';
    src: url('/files/fonts/Manrope/Manrope-Thin.eot');
    src: local('Manrope Thin'), local('Manrope-Thin'),
        url('/files/fonts/Manrope/Manrope-Thin.eot?#iefix') format('embedded-opentype'),
        url('/files/fonts/Manrope/Manrope-Thin.woff2') format('woff2'),
        url('/files/fonts/Manrope/Manrope-Thin.woff') format('woff'),
        url('/files/fonts/Manrope/Manrope-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('/files/fonts/Manrope/Manrope-Regular.eot');
    src: local('Manrope Regular'), local('Manrope-Regular'),
        url('/files/fonts/Manrope/Manrope-Regular.eot?#iefix') format('embedded-opentype'),
        url('/files/fonts/Manrope/Manrope-Regular.woff2') format('woff2'),
        url('/files/fonts/Manrope/Manrope-Regular.woff') format('woff'),
        url('/files/fonts/Manrope/Manrope-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('/files/fonts/Manrope/Manrope-Semibold.eot');
    src: local('Manrope Semibold'), local('Manrope-Semibold'),
        url('/files/fonts/Manrope/Manrope-Semibold.eot?#iefix') format('embedded-opentype'),
        url('/files/fonts/Manrope/Manrope-Semibold.woff2') format('woff2'),
        url('/files/fonts/Manrope/Manrope-Semibold.woff') format('woff'),
        url('/files/fonts/Manrope/Manrope-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


* {
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	// top: 0; 
	// left: 0; 
	text-decoration: none;
	list-style: none;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	// z-index: 0;
	//color: #000;
	outline: none;
	transform-origin: center center;
	font-family: Arial, Helvetica, sans-serif;

	// box-sizing: border-box; 
	// box-sizing: content-box; 

	// image-rendering: optimizeQuality; 
	// backface-visibility: hidden;
	// transition-duration: 0s;  

    background: none;
    border: none;
}

html {
	min-height: 100vh;
	overflow: auto;

    background: $page-color;
    &.dark {
        background: #06090F;
    }
}

// Dark mode
html.dark_mode_transition, html.dark_mode_transition * {
    &, &::before, &::after {
        transition: $dark-mode-transition !important;
    }
}

// Turn off transition on load
html:not(.loaded), html:not(.loaded) body *:not(main > div:not(.message_alert)) {
    transition: 0s all linear !important;
    animation-duration: 0s !important;
}

// Wait cursor
html.wait, html.wait body * {
    cursor: wait !important;
}


body {
	background: $page-color;
    html.dark & {
        background: #06090F;
    }

	overflow: hidden;
}

a {
    color: $orange-color;
    html.dark & {
        color: $orange-color-dark;
    }
}


@import 'src/styles/preloader';
@import 'src/styles/menubar';
@import 'src/styles/statusbar';
@import 'src/online_media/online_media';


.ui_alert {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    box-sizing: border-box;
    max-width: 100vw;
    max-height: 100vh;
    padding: 15px 40px;
    z-index: 1000;
    border-radius: 50px;
    background: rgba(20, 20, 20, 0.8);
    color: #fff;

    opacity: 0;
    visibility: hidden;

    transition: 2s opacity ease-in-out, 0s visibility 2s;
    html.dark_mode_transition & {transition: $dark-mode-transition, 2s opacity ease-in-out, 0s visibility 2s !important;}

    &.shown {
        transition: 0.4s opacity ease-in-out, 0s visibility 0s;
        html.dark_mode_transition & {transition: $dark-mode-transition, 0.4s opacity ease-in-out, 0s visibility 0s !important;}
        opacity: 1;
        visibility: visible;
    }
}


main {

    .message_alert {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
		@media (max-width: $desktop) {
			width: $main-width - 20px;
			max-width: calc(100% - 20px);
		}
        box-sizing: border-box;
        width: $main-width - 200px;
        max-width: calc(100% - 200px);

        @media (max-width: 700px) {
            width: calc(100% - 200px);
            max-width: none;
        }

        padding: 12px 50px 12px 30px;
        margin-bottom: 30px;

        border-radius: 15px;
        background: #55ff7d;
        html.dark & {
            background: $block-color-dark;
        }

        text-align: left;

        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: var(--font-size-usual);
        // line-height: 65px;

        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);

        color: #003ea8;
        html.dark & {
            color: $text-color-dark;
        }

        transition: 0.6s opacity ease-in-out;
        html.dark_mode_transition & {transition: $dark-mode-transition, 0.6s opacity ease-in-out !important;}

        span, p {
            color: #50f;
            // color: $light-orange-color;
            font-weight: 600;
            display: inline;
        }

        .cross-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 5px;
            width: 13px;
            height: 13px;
            padding: 15px;
            cursor: pointer;

            path {
                fill: $text-color;
                html.dark & {
                    fill: #8394a3;
                }
            }
        }

        kbd {
            padding: 3px 6px 2px 6px;
            border: 1px solid $text-color;
            html.dark & {
                border-color: #aaa;
            }
            border-radius: 8px;

            .mouse {
                display: inline-block;
                position: relative;
                top: 3px;
                border: 1px solid $text-color;
                html.dark & {
                    border-color: #aaa;
                }
                height: 18px;
                width: 11px;
                border-radius: 50px;

                &::after {
                    content: "";
                    position: absolute;
                    top: 1px;
                    left: calc(50% - 1px);
                    width: 2px;
                    background: $text-color;
                    html.dark & {
                        background: #aaa;
                    }
                    height: 4px;
                    border-radius: 50%;

                    animation: kbd_mouse 1s ease-in-out infinite;
                }

                @keyframes kbd_mouse {
                    0% {
                        opacity: 0;
                        transform: translateY(0);
                    }

                    50% {
                        opacity: 1;
                        transform: translateY(2px);
                    }

                    100% {
                        opacity: 0;
                        transform: translateY(4px);
                    }
                }
            }
        }

        &.hidden {
            opacity: 0;
        }
    }

    .menu {
		@media (max-width: $desktop) {
			width: $main-width - 20px;
		}
        width: $main-width - 200px;
        //max-width: calc(100% - 200px);
        margin: 0 auto;
        
        max-height: 0px;
        overflow: hidden;
        transition: 0.3s max-height ease-in-out;
        html.dark_mode_transition & {transition: $dark-mode-transition, 0.3s max-height ease-in-out !important;}

        &.shown {
            max-height: 140px;

            @media (max-width: $main-width) {
                max-height: 215px;
            }

            @media (max-width: 850px) {
                max-height: 415px;
            }
        }

        ul {
            margin: 0 auto;
            width: 100%;

            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: auto auto auto;
            grid-row-gap: 10px;
            grid-column-gap: 100px;
			@media(max-width: $desktop) {
				width: calc(100% - 20px);
			}
            @media (max-width: $main-width) {
                width: 80%;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-columns: auto auto;
                grid-column-gap: 95px;
            }

            @media (max-width: 850px) {
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-columns: 1fr;
                grid-row-gap: 5px;
            }

            li {
				
                margin-left: 18px;
                a {
                    font-family: Manrope;
                    font-style: normal;
                    font-weight: bold;
					font-size: var(--font-size-selector);
                    cursor: pointer;

                    border-bottom: 2.5px solid transparent;
                    color: #fff;
                    text-shadow: $text-shadow;
                    html.dark & {
                        color: $text-color-dark;
                        text-shadow: $text-shadow-dark;
                    }

                    transition: 0.1s border-color ease-in-out;
                    html.dark_mode_transition & {transition: $dark-mode-transition, border-color ease-in-out !important;}

                    &:hover {
                        border-color: #fff;
                        html.dark & {
                            border-color: $text-color-dark;
                        }
                    }
                }
            }
        }
    }
}
