.menu_wrapper {
	display: block;
	position: fixed;

	transform: translateX(-100%);
	box-shadow: none;
	&.shown {
		transform: translateX(0);
		box-shadow: 10px 0 20px rgba(0, 0, 0, 0.4);
	}

	height: 100vh;
	z-index: 100;
	left: 0;
	top: 0;
	padding: 0 40px 0 30px;

	background: var(--block-color);
	color: #FFF;

	transition: 0.35s transform ease-in-out, 0.35s box-shadow ease-in-out;
	html.dark_mode_transition & {transition: $dark-mode-transition, 0.35s transform ease-in-out, 0.35s box-shadow ease-in-out !important;}

	overflow: auto;

	&:after {
	    content: "";
    	display: inline-block;
	    height: 100%;
	    vertical-align: middle;
	}
}

.menu {
	// position: relative;
	display: inline-block;
    vertical-align: middle;

	transition: 0.3s max-height ease-in-out;
	html.dark_mode_transition & {transition: $dark-mode-transition, 0.3s max-height ease-in-out !important;}

	ul {
		position: relative;
		margin: 0 auto;
		width: 100%;

		li {
			position: relative;
			padding-bottom: 22px;
			&:last-child {padding-bottom: 0;}

			a {
				font-family: Manrope;
				font-style: normal;
				font-weight: bold;
				font-size: var(--font-size-selector);
				cursor: pointer;

				border-bottom: 2.5px solid transparent;
				@media (max-width: $desktop) {
					border-bottom-width: 2px;
				}
				color: var(--text-color-main);
				html.dark & {
					color: var(--text-color-main-dark);
				}

				transition: 0.1s border-color ease-in-out;
				html.dark_mode_transition & {transition: $dark-mode-transition, 0.1s border-color ease-in-out !important;}

				&:hover {
					border-color: var(--text-color-main);
					html.dark & {
						border-color: var(--text-color-main-dark);
					}
				}
			}
		}
	}

	.moon_icon_wrapper {
 		position: absolute;
 		top: 15px;
 		left: 5px;
		.moon-icon {
			path {
				fill: var(--buttons-color);
			}
			width: 70px;
			padding: 10.5px 17px;
		}

		&:hover, &.active {
			.moon-icon path {
				fill: var(--buttons-color-active);
			}
		}
	}

	.mail_icon_wrapper {
 		position: absolute;
 		top: 10px;
 		left: 170px;
 		.counter {
 			text-align: center;
		    position: relative;
		    left: 80px;
		    background: blueviolet;
		    border-radius: 30px;
		    width: 20px;
		    height: 20px;
		    top: -110px;
		    padding: 10px;
 		}
		.mail-icon {
			path {
				fill: var(--buttons-color);
			}
			width: 90px;
			padding: 10.5px 17px;
			//top: -40px;
   			//position: relative;
		}

		&:hover, &.active {
			.mail-icon path {
				fill: var(--buttons-color-active);
			}
		}
	}
}
