.menubar {
	position: absolute;
	left: calc(50vw - 570px);
	@media (max-width: 1140px) {
		left: 0;
	}

	.menu_icon_wrapper, .moon_icon_wrapper {
		display: inline-block;
		cursor: pointer;
	}

	.menu-icon path, .moon-icon path{
		fill: var(--buttons-color);

		transition: 0.08s fill ease-in-out;
		html.dark_mode_transition & {transition: $dark-mode-transition, 0.08s fill ease-in-out !important;}
	}

	.menu_icon_wrapper {

		.menu-icon {
			padding: 8px 17px;
			width: 50px;
			
		}

		&:hover, &.active {
			.menu-icon path {
				fill: var(--buttons-color-active);
			}
		}
	}
}
