.menubar {
	position: absolute;
	left: calc(50vw - 570px);
	@media (max-width: 1160px) {
		left: 10px;
	}

	.menu_icon_wrapper, .moon_icon_wrapper {
		display: inline-block;
		cursor: pointer;
	}

	.menu-icon path, .moon-icon path{
		fill: $buttons-color;
		html.dark & {
			fill: $buttons-color-dark;
		}

		transition: 0.08s fill ease-in-out;
	}

	.menu_icon_wrapper {

		.menu-icon {
			padding: 8px 17px;
			width: 50px;
			
		}

		&:hover, &.active {
			.menu-icon path {
				fill: $buttons-active-color;
				html.dark & {
					fill: $buttons-active-color-dark;
				}
			}
		}
	}

	.moon_icon_wrapper {

		.moon-icon {
			width: 40px;
			padding: 10.5px 17px;
		}

		&:hover, &.active, html.dark & {
			.moon-icon path {
				fill: $buttons-active-color;
				html.dark & {
					fill: $buttons-active-color-dark;
				}
			}
		}
	}
}
