.statusbar {
	position: absolute;
	height: 65px;
	right: calc(50vw - 600px);
	@media (max-width: 1200px) {
		right: 0;
	}

	display: flex;
	align-items: center;

	.name, .last_update, .last_update span {
		color: #fff;
		html.dark & {
			color: $text-color-dark;
		}

		font-family: Manrope;
		font-style: normal;
		font-weight: 100;
		font-size: var(--font-size-name);
		
		//line-height: var(--line-height-article);
		@media (max-width: $desktop) {
			display: none;
			width: 50px;
		}
		height: 65px;
		margin: 0 17px;
	}

	.last_update span {
		margin: -5px;
		// animation: last_update_blink 1s ease-in-out infinite;
	}

	// @keyframes last_update_blink {
	// 	0%, 10%, 90%, 100% {
	// 		opacity: 0;
	// 	}
	// 	40%, 70% {
	// 		opacity: 1;
	// 	}
	// }

	.last_update {
		@media (max-width: 850px) {
			display: none;
		}
	}

	.exit_icon {
		width: 50px;
		padding: 7px 17px;
		cursor: pointer;

		.sign-out-icon path {
			fill: $buttons-color;
			html.dark & {
				fill: $buttons-color-dark;
			}
			transition: 0.08s fill ease-in-out;
			html.dark_mode_transition & {transition: $dark-mode-transition, 0.08s fill ease-in-out !important;}
		}

		&:hover .sign-out-icon path {
			fill: $buttons-active-color;
			html.dark & {
				fill: $buttons-active-color-dark;
			}
		}
	}
}
