// @media (max-width: 1170px)
// @media (max-width: 850px)


$main-width: 1170px;

// COLORS:
// $background: linear-gradient(90deg, #307FBD 0%, #1963A1 14.16%);

$block-color: #FFF;
$block-color-dark: #28313d;

$block-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.25);
$block-shadow-dark: 10px 10px 20px 10px rgba(0, 0, 0, 0.25);

$text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
$text-shadow-dark: 10px 10px 10px rgba(0, 0, 0, 0.25);

$arrows-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
$arrows-shadow-dark: 10px 10px 20px rgba(0, 0, 0, 0.25);

$page-color: #1963A1;
$page-color-dark: #06090F;

$orange-color: #FF890C;
$orange-color-dark: #FF890C;

$light-orange-color: #ffa94d;

$orange-gradient: linear-gradient(92.76deg, #FCB263 0%, #FE8708 52.3%);

$text-color: $page-color;
$text-color-dark: #C9D1D9;

$buttons-color: #307FBD;
$buttons-color-dark: #307FBD;

$buttons-active-color: #205182;
$buttons-active-color-dark: #205182;

$vacation-color: #20822A;


// FONTS:
@font-face {
    font-family: 'Manrope';
    src: url('/files/fonts/Manrope/Manrope-Thin.eot');
    src: local('Manrope Thin'), local('Manrope-Thin'),
        url('/files/fonts/Manrope/Manrope-Thin.eot?#iefix') format('embedded-opentype'),
        url('/files/fonts/Manrope/Manrope-Thin.woff2') format('woff2'),
        url('/files/fonts/Manrope/Manrope-Thin.woff') format('woff'),
        url('/files/fonts/Manrope/Manrope-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('/files/fonts/Manrope/Manrope-Regular.eot');
    src: local('Manrope Regular'), local('Manrope-Regular'),
        url('/files/fonts/Manrope/Manrope-Regular.eot?#iefix') format('embedded-opentype'),
        url('/files/fonts/Manrope/Manrope-Regular.woff2') format('woff2'),
        url('/files/fonts/Manrope/Manrope-Regular.woff') format('woff'),
        url('/files/fonts/Manrope/Manrope-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('/files/fonts/Manrope/Manrope-Semibold.eot');
    src: local('Manrope Semibold'), local('Manrope-Semibold'),
        url('/files/fonts/Manrope/Manrope-Semibold.eot?#iefix') format('embedded-opentype'),
        url('/files/fonts/Manrope/Manrope-Semibold.woff2') format('woff2'),
        url('/files/fonts/Manrope/Manrope-Semibold.woff') format('woff'),
        url('/files/fonts/Manrope/Manrope-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


* {
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	// top: 0; 
	// left: 0; 
	text-decoration: none;
	list-style: none;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	// z-index: 0;
	color: #000;
	outline: none;
	transform-origin: center center;
	font-family: Arial, Helvetica, sans-serif;

	// box-sizing: border-box; 
	// box-sizing: content-box; 

	// image-rendering: optimizeQuality; 
	backface-visibility: hidden;
	// transition-duration: 0s;  

    background: none;
    border: none;
}

html {
	min-height: 100vh;
	overflow: auto;
}

$dark-mode-transition: 0.5s color ease-in-out,
                       0.5s background-color ease-in-out,
                       0.5s border-color ease-in-out,
                       0.5s fill ease-in-out;

html, html * {
    transition: $dark-mode-transition;
}

body {
	background: $page-color;
    html.dark & {
        background: #06090F;
    }

	overflow: hidden;
}

@import 'src/styles/menubar';
@import 'src/styles/statusbar';

main {

    .message_alert {
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        box-sizing: border-box;
        width: $main-width - 200px;
        max-width: calc(100% - 200px);

        @media (max-width: 700px) {
            width: calc(100% - 200px);
            max-width: none;
        }

        padding: 12px 50px 12px 30px;
        margin-bottom: 30px;

        border-radius: 15px;
        background: #55ff7d;
        html.dark & {
            background: $block-color-dark;
        }

        text-align: left;

        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        // line-height: 65px;

        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);

        color: #003ea8;
        html.dark & {
            color: $text-color-dark;
        }

        transition: $dark-mode-transition, 0.6s opacity ease-in-out;

        span, p {
            color: #50f;
            // color: $light-orange-color;
            font-weight: 600;
            display: inline;
        }

        .cross-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 5px;
            width: 13px;
            height: 13px;
            padding: 15px;
            cursor: pointer;

            path {
                fill: $text-color;
                html.dark & {
                    fill: #8394a3;
                }
            }
        }

        &.hidden {
            opacity: 0;
        }
    }

    .menu {
        position: absolute;
        width: $main-width - 200px;
        max-width: calc(100% - 200px);
        left: 50%;
        transform: translateX(-50%);

        ul {
            margin: 0 auto;
            width: 100%;

            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            grid-row-gap: 10px;
            grid-column-gap: 100px;

            @media (max-width: $main-width) {
                width: 80%;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 95px;
            }

            @media (max-width: 850px) {
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-columns: 1fr;
                grid-row-gap: 5px;
            }

            li {
                a {
                    font-family: Manrope;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 65px;
                    cursor: pointer;

                    border-bottom: 2.5px solid transparent;
                    color: #fff;
                    html.dark & {
                        color: $text-color-dark;
                    }

                    transition: $dark_mode_transition, 0.1s border-color ease-in-out;

                    &:hover {
                        border-color: #fff;
                        html.dark & {
                            border-color: $text-color-dark;
                        }
                    }
                }
            }
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            background: $page-color;
            html.dark & {
                background: $page-color-dark;
            }

            transition: $dark_mode_transition, 0.3s transform ease-in-out;

            transform-origin: bottom center;
        }

        &.shown {
            &::after {
                transform: scaleY(0);
            }
        }

    }
}