.menu {
	position: absolute;
	z-index: 5;
	left: 50%;
	transform: translateX(-50%);
	width: 970px;
	max-width: calc(100% - 200px);

	ul {
		margin: 0 auto;
		width: 100%;

		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		grid-row-gap: 10px;
		grid-column-gap: 100px;

		@media (max-width: 1170px) {
			width: 80%;
			grid-template-rows: 1fr 1fr 1fr;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 95px;
		}

		@media (max-width: 850px) {
			grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
			grid-template-columns: 1fr;
			grid-row-gap: 5px;
		}

		li {
			a {
				font-family: Manrope;
				font-style: normal;
				font-weight: bold;
				font-size: 36px;
				line-height: 65px;
				cursor: pointer;

				border-bottom: 2.5px solid transparent;
				color: #fff;

				transition: 0.1s border-color ease-in-out;

				&:hover {
					border-color: #fff;
				}
			}
		}
	}

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		background-color: $page-color;

		transition: 0.3s transform ease-in-out;

		transform-origin: bottom center;
	}

	&.shown {
		&::after {
			transform: scaleY(0);
		}
	}

}