@import '../src/styles/main';

$details-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
$details-expired-shadow: 2px 1px 15px rgba(255, 0, 0, 0.3);

$mark-expired-color: rgba(255, 0, 0, 0.1);
$mark-expired-color-dark: rgba(255, 0, 0, 0.25);

main {
	position: relative;
	margin: 120px auto 100px auto;
	width: 1300px;
	max-width: 95%;

	.stats {
		position: relative;
		padding: 40px 32px 50px 32px;
		top: 30px;
		box-sizing: border-box;
		width: 100%;
		margin: 0 auto;
		z-index: 10;
		text-align: center;

		background: var(--block-color);
		box-shadow: var(--block-shadow);
		html.dark & {
			box-shadow: $block-shadow-dark;
		}
		border-radius: 30px;

		transition: $dark_mode_transition, 0.3s transform ease-in-out;

		.tabs {
			h3 {
				font-family: Manrope;
				font-style: normal;
				font-weight: 600;
				font-size: var(--font-size-very-big);
				text-align: center;
				margin-bottom: 25px;

				color: var(--text-color-main);
				@media (max-width: $desktop) {
					margin-bottom: 0;
				}
			}
			.tab {
				
			}
		}
	}
}

.details, .details h5, .details p {
	font-family: Manrope;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 25px;
	color: var(--text-color-main);
}

.details {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	padding: 15px 50px 15px 20px;
	border-radius: 20px;
	max-width: 100vw;
	max-height: 100vw;
	box-sizing: border-box;
	background: var(--block-color);
	box-shadow: $details-shadow;
	color: var(--text-color-main);

	html.dark & {
		box-shadow: none;
	}

	visibility: hidden;
	opacity: 0;
	transition: $dark_mode_transition, 0s box-shadow, 0.1s opacity ease-in-out, 0s visibility 0.2s;
	html.dark & {
		transition: $dark_mode_transition, 0s box-shadow, 0.1s opacity ease-in-out, 0s visibility 0.2s;
	}

	line-height: 23px;

	h5 {
		text-align: center;
		width: 100%;
		
		font-weight: 600;
	}

	// h6 {
	// 	text-align: center;
	// 	width: 100%;
	// 	font-size: 12px;
		
	// 	font-weight: 600;
	// }

	p {
		width: 100%;
		text-align: center;

		a {
			color: var(--orange-color);
		}
	}

	&.shown {
		visibility: visible;
		opacity: 1;
		transition: $dark_mode_transition, 0s box-shadow, 0.1s opacity ease-in-out, 0s visibility 0s;
		html.dark & {
			transition: $dark_mode_transition, 0s box-shadow, 0.1s opacity ease-in-out, 0s visibility 0s;
		}
	}

	&.expired {
		box-shadow: $details-expired-shadow;

		h5 {
			color: #f00;
			html.dark & {
				color: #f00;
			}
		}
	}

	.link-icon {
		position: absolute;
		top: 0;
		right: 0;
		padding: 18.5px 18px 10px 10px;
		width: 17px;
		border-top-right-radius: 20px;

		cursor: pointer;
		opacity: 0.6;
		transition: $dark_mode_transition, 0.08s opacity ease-in-out;
		&:hover {
			opacity: 1;
		}

		path {
			fill: var(--text-color-main);
		}
	}
}

#button-3 
{
	.knobs:before {
		content: 'ON';
		left: 4px;
		background-color: var(--green-color);//hsl(200, 60%, 50%);
		
		position: absolute;
		top: 4px;
		width: 20px;
		height: 10px;
		color: #fff;
		font-size: 10px;
		font-weight: bold;
		text-align: center;
		line-height: 1;
		padding: 9px 4px;
		border-radius: 50%;
		transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
	}
	.checkbox:active + .knobs:before
	{
		width: 46px;
		border-radius: 100px;
	}
	.checkbox:checked:active + .knobs:before
	{
		margin-left: -26px;
	}
	
	.checkbox:checked + .knobs:before
	{
		content: 'OFF';
		left: 42px;
		background-color: hsl(15, 60%, 50%);
	}
	
}

.toggle-button-cover
{
    display: inline-block;
    position: relative;
	padding-top: 30px;
    box-sizing: border-box;
	font-size: var(--font-size-very-big);
	color: var(--text-color-main);
}


.button-cover, .knobs, .layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button
{
	float: right;
	margin-left: 20px;
    position: relative;
    width: 74px;
    height: 36px;
    overflow: hidden;
	margin-top: calc((var(--font-size-very-big) + 4px - 36px )/2); 
}

.button.r, .button.r .layer
{
    border-radius: 100px;
}

.button.b2
{
    border-radius: 2px;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: hsl(250, 20%, 80%); //#dddddd #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}
